<template>
    <div>
        <main-banner v-if="!auth"
                     :bg-image="bg"
                     :banner-title="title"
                     :subtitle = "subtitle"
                     :desc="desc"
                     :image="image"
                     :apps-display="true"
                     :custom-size="false"
                     :display-class="false"></main-banner>

            <main-banner v-if="auth"
                         :bg-image="bg"
                         :banner-title="title"
                         :subtitle = "subtitleAuth"
                         :desc="descAuth"
                         image=""
                         :apps-display="false"
                         :custom-size="false"
                         :display-class="false" class="main-banner-with-btn text-xs-center">
                <div slot="banner-with-btn" >
                    <v-btn outline color="white" round class="btn-width" large to="/packages"> إبدأ الفترة المجانية الآن</v-btn>
                </div>
            </main-banner>

        <benefits v-if="auth"></benefits>
        <download-app v-if="auth"></download-app>
        <features-tabs></features-tabs>
        <categories v-if="!auth"></categories>
        <media-section v-if="!auth"></media-section>
        <three-categories v-if="!auth"></three-categories>
        <three-demos v-if="!auth"></three-demos>
        <follow-usyoutube v-if="!auth"></follow-usyoutube>
        <packages v-if="auth"></packages>
        <latest-blogs></latest-blogs>
        <testimonial></testimonial>
        <recommendations></recommendations>
    </div>
</template>

<script>
    import mainBanner from '../main-banner/main-banner'
    import benefits from '../benefits/benefits'
    import downloadApp from '../three-categories/download-app'
    import featuresTabs from '../features-tabs/features-tabs'
    import categories from '../categories/categories'
    import mediaSection from '../media-section/media-section'
    import threeCategories from '../three-categories/three-categories'
    import threeDemos from '../three-categories/three-demos'
    import followUsyoutube from '../follow-us-youtube/follow-us-youtube'
    import latestBlogs from '../latest-blogs/latest-blogs'
    import recommendations from '../recommendations/recommendations'
    import testimonial from '../testimonial/testimonial'
    import packages from '../packages/packages'

    export default {
        name: "home",
        components:{
            mainBanner,
            benefits,
            downloadApp,
            featuresTabs,
            categories,
            mediaSection,
            threeCategories,
            threeDemos,
            followUsyoutube,
            latestBlogs,
            recommendations,
            testimonial,
            packages
        },
        data(){
            return{
                title:'من كتاب لحكاية ..',
                subtitle:'حمل دلوقتي تطبيق أخضر',
                desc: 'وإستمتع بسماع وقراءة ملخصات الكتب إللي نفسك تقرأها',
                image:  require('@/assets/images/banner-demo.png'),
                bg :  require('@/assets/images/main-banner.png'),

                subtitleAuth:'للوصول لكل ملخصاتنا عليك الإشتراك أولاً',
                descAuth: 'لديك 7 أيام مجانية , بعدها سيتم محاسبتك 10 ج شهرياً ',
            }
        },
        computed:{
            auth(){
                if(this.$store.getters.isLoggedIn){
                    return true;
                }
                else{
                    return false;

                }
            }
        },
        mounted(){

        }
    }
</script>

<style scoped>

</style>
