<template>
    <div>
        <main-banner :bg-image="bg"
                     :banner-title="title"
                     :subtitle = "subtitle"
                     :desc="desc"
                     image=""
                     :apps-display="false"
                     :custom-size="false"
                     :display-class="false" class="main-banner-with-btn text-xs-center">
            <div slot="banner-with-btn" >
                <v-btn outline color="white" round class="btn-width" large> إبدأ الفترة المجانية الآن</v-btn>
            </div>
        </main-banner>

    </div>
</template>

<script>
    import mainBanner from '../main-banner/main-banner'

    export default {
        name: "home-after-login-component",
        components:{
            mainBanner
        },
        data(){
            return{
                title:'من كتاب لحكاية ..',
                subtitle:'للوصول لكل ملخصاتنا عليك الإشتراك أولاً',
                desc: 'لديك 7 أيام مجانية , بعدها سيتم محاسبتك 10 ج شهرياً ',
                image:  require('@/assets/images/banner-demo.png'),
                bg :  require('@/assets/images/main-banner.png'),
            }
        },

    };
</script>

<style scoped>

</style>
