.benefits{

}
.benefit-card{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: $grayColor;
  text-align: center;
  font-weight: 500;
  .icon-bg{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #F3F3F3;
    margin: 0 auto;
    margin-bottom: 2rem;
  }
  .icon{
    width: 85px;
    height: 85px;
    object-fit: contain;
  }
  p{
    padding: 0 15px;
  }
}
