<template>
    <div class="text-xs-center">
        <v-progress-circular
                indeterminate
                color="primary"
        ></v-progress-circular>
    </div>
</template>

<script>
    export default {
        name: "loader",
    };
</script>

<style scoped>

</style>
