.favorites{
  .v-tabs{
    &__container{
      //max-width: 600px;
      height: 80px;
      margin: 0 auto;
      margin-bottom: 3rem;
    }
    &__div{
      max-width: 300px;
      width: 100%;
    }
    &__slider{
      height: 3px;
    }
    &__item{
      font-size: 20px;
      font-weight: bold;
      border-bottom: 3px solid rgba(#707070 , 0.4);
      justify-content: flex-start;
      &--active{
        color: $main-color;
      }
    }
  }
  .address{
    position: relative;
    padding-left: 45px;
    padding-bottom: 2rem;
    margin-top: 2rem;
    border-width: thin;
    border-bottom: 1px solid rgba(#707070 , 0.3);
    p{
      line-height: 2;
    }
    &-footer{
      margin-top: 3rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &-action{
      position: absolute;
      left: 0;
      top: 0;
      margin-left: -22px;
    }
  }
}
