<template>
    <div>
        <div class="packages section off-white">
            <v-container grid-list-lg>
                <h2 class="main-title"> إختار الباقة اللي تناسبك للإشتراك </h2>
                <v-layout row wrap class="justify-center">
                    <v-flex xs12 md4 :class="{'d-none' : $route.name === 'packages'}">
                        <v-card class="package-card small">

                            <v-card-title primary-title>
                                <div class="width-100">
                                    <h3 class="package-card--title">
                                        <span> الباقة المجانية</span>

                                    </h3>
                                    <h3 class="package-card--number"><span>0.0</span> <span>جنية</span></h3>
                                    <p class="grey--text">120 <span class="font-weight-bold">مجاني دائما </span>ً</p>
                                    <p class="package-card--list mb-0">يتيح لك قراءة ملخص كتاب واحد يوميا يتم
                                        إختيارة عشوائيا من قِبل أخضر</p>
                                    <v-btn color="primary" block round large>  إقرأ كتابك المجاني اليومي</v-btn>
                                </div>
                            </v-card-title>
                        </v-card>
                    </v-flex>

                    <v-flex xs12 md4 :class="{'md5' : $route.name === 'packages'}">
                        <v-card class="package-card" :class="{'small' : $route.name === 'packages'}">
                         <span class="bookmark-shape">
                                        <span>خصم %50</span>
                                    </span>
                            <v-card-title primary-title>
                                <div class="width-100">
                                    <h3 class="package-card--title">

                                        <span> الباقة السنوية</span>

                                    </h3>
                                    <h3 class="package-card--number"><span>10.0</span> <span>جنية</span></h3>
                                    <p class="grey--text">120 <span class="font-weight-bold">جنية سنويا </span>ً</p>
                                    <ul class="package-card--list">
                                        <li>يتيح لك خدمة الإحتفاظ بالمكتبة</li>
                                        <li>يتيح لك سماع النصوص</li>
                                        <li>يتيح لك إحتفاظ بعناوينك الخاصة</li>
                                    </ul>
                                    <v-btn color="primary" block round large to="/experimental">إبدأ الفترة المجانية 7 أيام</v-btn>

                                </div>
                            </v-card-title>
                        </v-card>
                    </v-flex>

                    <v-flex xs12 md4 :class="{'md5' : $route.name === 'packages'}">
                        <v-card class="package-card small">

                            <v-card-title primary-title>
                                <div class="width-100">
                                    <h3 class="package-card--title">
                                        <span>الباقة الشهرية</span>

                                    </h3>
                                    <h3 class="package-card--number"><span>15.0</span> <span>جنية</span></h3>
                                    <p class="grey--text">12 <span class="font-weight-bold">جنية شهريا </span>ً</p>
                                    <ul class="package-card--list">
                                        <li>يتيح لك خدمة الإحتفاظ بالمكتبة</li>
                                        <li>يتيح لك سماع النصوص</li>
                                        <li>يتيح لك إحتفاظ بعناوينك الخاصة</li>
                                    </ul>
                                    <v-btn color="primary" block round large> إبدأ الباقة الشهرية</v-btn>


                                </div>
                            </v-card-title>
                        </v-card>
                    </v-flex>
                </v-layout>
            </v-container>
        </div>
        <benefits :class="{'d-none' : $route.name !== 'packages'}"></benefits>
    </div>
</template>

<script>
    import packageCard from '../lists/package'
    import benefits from '../benefits/benefits'
    export default {
        name: "packages",
        components:{
            packageCard,
            benefits
        }
    };
</script>

<style scoped>

</style>
