.main-footer{
  font-weight: lighter;
  border-top: 1px solid rgba(#707070,0.5);
  .subheading{
    color: $secondaryColor;

  }
    .container{
      padding: 0;
    }
  .v-btn{
   color: $blackColor;
  }
}

@media (max-width: 767px) {
  .main-footer{
    .v-card__title{
      display: block;
      text-align: center;
    }
  }
}
