<template>
    <div class="recommendations page">
        <main-banner :bg-image="bg"
                     :banner-title="title"
                     :subtitle = "subtitle"
                     :desc="desc"
                     :image="image"
                     :apps-display="false"
                     :custom-size="true"
                     :display-class="true"
        ></main-banner>
        <v-container>
           <div class="box-container">
               <v-layout row wrap>
                   <v-flex sm12 md6 v-for="(item ,  index) in groups">
                       <recommendation-item :id="item.id"
                                            :icon="item.image"
                                            :title="item.name"
                                            :desc="item.description"
                                            :number="item.book_count"
                       ></recommendation-item>
                   </v-flex>
               </v-layout>
               <div class="text-xs-center">
                   <v-btn color="#C4C4C4" class="white--text btn-more btn-width" depressed large>المزيد</v-btn>
               </div>
           </div>
        </v-container>
    </div>
</template>

<script>
    import mainBanner from '../main-banner/main-banner'
    import recommendationItem from '../lists/recommendation-item'

    export default {
        name: "latest-recommendations-page",
        data(){
          return{
              title:'ترشيحات يقدمها لك أخضر',
              subtitle:'',
              desc:'يوفر عليك أخضر في البحث عن الكتب التي يتحدث\n' +
                  'عنها المشاهير والموهوبين ويقدمها لك في صورة\n' +
                  'مجموعات سميت بأسماء هؤلاء لدينا',
              image:  require('@/assets/images/book-icon.png'),
              bg :  require('@/assets/images/bg.svg'),
              groups:[]

          }
        },
        components:{
            mainBanner,
            recommendationItem
        },
        methods:{
            getGroups(){
                this.$http.get('/web/groups').then((response)=>{
                    this.groups = response.data.data
                }).catch(()=>{

                });
            }
        },
        mounted(){
            this.getGroups();
        }
    };
</script>

<style scoped>

</style>
