<template>
    <div class="recommendations page">
        <main-banner :bg-image="bg"
                     :banner-title="banner.name"
                     :subtitle = "subtitle"
                     :desc="banner.description"
                     :image="banner.image"
                     :apps-display="false"
                     :custom-size="true"
                     :display-class="true"
                     :book-count="banner.book_count"
        ></main-banner>
        <v-container>
           <div class="box-container">
               <v-layout row wrap>
                   <v-flex sm12 v-for="recommendation in recommendations">
                      <book-card :data="recommendation" @clicked="getSingleRecommendation   "></book-card>
                      <!--<book-card :data="recommendation" @removeBook="removeFromLibrary($event)" @addBook="AddToFavorite($event)"></book-card>-->
                   </v-flex>
               </v-layout>
           </div>
        </v-container>
    </div>
</template>

<script>
    import mainBanner from '../main-banner/main-banner'
    import bookCard from '../lists/book-card'

    export default {
        name: "single-recommendation",
        data(){
          return{

              title:'كُتب رشحها ستيف جوبز ...',
              subtitle:'',
              desc:'صرح ستيف جوبز في لقاء له مع          عن كتب إهتم بقراءتها\n' +
                  'ونّصح بها المتابعين بقراءتها وقال "عليكم بقراءة هذه الكتب\n' +
                  '"ستفيدكم في حياتكم العملية',
              image:  require('@/assets/images/Steve-Jobs-In-Memoriam.png'),
              bg :  require('@/assets/images/bg.svg'),

              items:[
                  {
                      id:1,
                      icon: require('@/assets/images/ani.png'),
                      title:'كتب مُرشحة من ستيف جوبز',
                      desc:'صرح ستيف جوبز في لقاء له مع          عن كتب إهتم بقراءتها\n' +
                          'ونّصح بها المتابعين بقراءتها وقال "عليكم بقراءة هذه الكتب\n' +
                          '"ستفيدكم في حياتكم العملية',
                      number: 15
                  },
                  {
                      id:2,
                      icon: require('@/assets/images/ani.png'),
                      title:'كتب مُرشحة من ستيف جوبز',
                      desc:'صرح ستيف جوبز في لقاء له مع          عن كتب إهتم بقراءتها\n' +
                          'ونّصح بها المتابعين بقراءتها وقال "عليكم بقراءة هذه الكتب\n' +
                          '"ستفيدكم في حياتكم العملية',
                      number: 985
                  },
                  {
                      id:3,
                      icon: require('@/assets/images/ani.png'),
                      title:'كتب مُرشحة من ستيف جوبز',
                      desc:'صرح ستيف جوبز في لقاء له مع          عن كتب إهتم بقراءتها\n' +
                          'ونّصح بها المتابعين بقراءتها وقال "عليكم بقراءة هذه الكتب\n' +
                          '"ستفيدكم في حياتكم العملية',
                      number: 30
                  },
              ],
              recommendations:[],
              banner:'',
              myFavourites:[],
              myLibrary:[],
              loader:false

          }
        },
        components:{
            mainBanner,
            bookCard
        },
        methods:{
            getBannerData(){
                this.$http.get('/web/single_group/'+this.$route.params.id).then((response)=>{
                    this.banner = response.data.data;
                }).catch((error)=>{

                });
            },
            getSingleRecommendation(){
                let token = localStorage.getItem('userToken');
                const headers = {
                    "Content-Type": "application/json",
                    'Authorization': "Bearer " + token,
                };
                let baseUrl ;
                if (token){
                    baseUrl = this.$http.get('/web/books_group/'+this.$route.params.id , {headers: headers})
                }else{
                    baseUrl = this.$http.get('/web/books_group/'+this.$route.params.id)
                };
                baseUrl.then((response)=>{
                    this.recommendations = response.data.data
                })
            },
            getMyLibrary(){
                this.loader=true;

                const headers = {
                    "Content-Type": "application/json",
                    'Authorization': "Bearer " + localStorage.getItem('userToken'),
                };
                this.$http.get('/web/my_library' , {headers:headers }).then((response)=>{
                    this.myLibrary = response.data.data;
                    this.loader=false;

                }).catch(()=>{

                })
            },
            getMyFavourites(){
                this.loader=true;

                const headers = {
                    "Content-Type": "application/json",
                    'Authorization': "Bearer " + localStorage.getItem('userToken'),
                };
                this.$http.get('/web/user_favourites' , {headers:headers }).then((response)=>{
                    this.myFavourites = response.data.data;
                    this.loader=false;

                }).catch(()=>{

                })
            },
            removeFromLibrary(id){
                const headers = {
                    "Content-Type": "application/json",
                    'Authorization': "Bearer " + localStorage.getItem('userToken'),
                };
                console.log(headers);
                let bookID = {book_id:id};
                this.$http.post('/web/libraries' ,bookID , {headers:headers}).then((response)=>{
                    this.getMyLibrary();
                    console.log(response);

                }).catch((error)=>{

                });
            },
            AddToFavorite(id){

                const headers = {
                    "Content-Type": "application/json",
                    'Authorization': "Bearer " + localStorage.getItem('userToken'),
                };
                let bookID = {book_id:id};
                this.$http.post('/web/favourites' ,bookID , {headers:headers}).then((response)=>{
                    this.getMyFavourites();
                }).catch((error)=>{

                });
            }
        },
        mounted(){
            this.getSingleRecommendation();
            this.getBannerData();
        }
    };
</script>

<style scoped>

</style>
