<template>
    <div class="sections page">
        <main-banner :bg-image="bg"
                     :banner-title="title"
                     :subtitle = "subtitle"
                     :desc="desc"
                     :image="image"
                     :apps-display="false"
                     :custom-size="true"
                     :display-class="false"
        ></main-banner>
        <v-container grid-list-md text-center>
            <v-layout row wrap>
                <v-flex xs12>
                    <v-form v-model="valid" class="search-modal" @submit.prevent="searchBooks">
                        <v-text-field
                                label="إبحث بالعنوان أو إسم الكاتب"
                                v-model="searchKeyword"
                                prepend-inner-icon="search"
                                placeholder=""
                        ></v-text-field>
                        <v-btn @click="clear" icon class="close-search-modal"><i class="fa fa-times"></i></v-btn>
                    </v-form>
                </v-flex>

                <v-flex xs12 md3 v-for="item in books">
                    <featuredCardItem
                            :id="item.id"
                            :title="item.title"
                            :image="item.image"
                            :subtitle="item.write_name"
                            :desc="item.note"
                            :action="item.long_sound"
                            :data="item"
                    ></featuredCardItem>
                </v-flex>
            </v-layout>
            <div class="text-xs-center mt-5 mb-5">
                <v-pagination
                        v-model="page"
                        :length="lastPage"
                        circle
                        @input = "getNewBooks"
                ></v-pagination>
            </div>
        </v-container>
    </div>
</template>

<script>
    import mainBanner from '../main-banner/main-banner'
    import featuredCardItem from '../lists/featured-card'
    import axios from 'axios'

    let token = localStorage.getItem('userToken');
    const headers = {
        "Content-Type": "application/json",
        'Authorization': "Bearer " + token
    };

    export default {
        name: "newly-added-page",
        data(){
            return{
                page: 1,
                lastPage: null ,
                title:'المضاف حديثاً...',
                subtitle:'',
                desc: 'أخضر متجدد بإستمرار بإضافة ملخاص جديدة\n' +
                    'يضاف كتاب أسبوعياً بتلخيص كتابي وصوتي تقدر تضيفهم لمكتبك',
                image:  require('@/assets/images/add-icon.png'),
                bg :  require('@/assets/images/main-banner.png'),
                books:[],
                searchKeyword:''

            }
        },
        components:{
            mainBanner,
            featuredCardItem
        },
        methods:{
            clear(){
                this.searchKeyword = '';
                this.getNewBooks();
            },
            getNewBooks() {
                let url = null;


                if(this.$route.params.slug === 'new'){
                    url = "/web/books?page="+this.page;
                    this.title='المضاف حديثاً...';
                }else if(this.$route.params.slug === 'most-reads'){
                    url = "/web/most_reads?page="+this.page;
                    this.title='الأكثر قراءه...';

                }else if(this.$route.params.slug === 'dedicated'){
                    url = "/web/dedicated?page="+this.page;
                    this.title='خصصنا لك ...';

                }

                let baseUrl ;
                if (token){
                    baseUrl = this.$http.get(url , {headers: headers})
                }else{
                    baseUrl = this.$http.get(url)
                };
                baseUrl.then((response) => {
                    this.books = response.data.data;
                    this.lastPage = response.data.meta.last_page
                }).catch((error) => {

                });
            },
            searchBooks(){
                let baseUrl ;
                if (token){
                    baseUrl = this.$http.post("/web/search" , {title:this.searchKeyword} ,  {headers: headers} )
                }else{
                    baseUrl = this.$http.post("/web/search" , {title:this.searchKeyword})
                };
                baseUrl.then((response)=>{
                    this.books = response.data.data;
                    this.lastPage = response.data.meta.last_page

                }).catch((error)=>{
                   console.log(error)
                });

            }
        },
        mounted(){
            this.getNewBooks();
        },
        computed: {
            filteredBooks() {
                return this.books.filter((book) => {
                    return book.title.toLowerCase().includes(this.searchKeyword.toLowerCase()) ||
                        book.write_name.toLowerCase().includes(this.searchKeyword.toLowerCase())
                });
            }
        }
    };
</script>

<style scoped>

</style>
