.latest-blogs{
  &--item{
    color: $blackColor;
    padding: 20px;
    .blog-date{
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 14px;
      color: $grayColor;
    }
    .desc{
      height: 176px;
      line-height: 2;
      overflow: hidden;
      margin-bottom: 0;
    }
    .v-card__text{
      padding: 16px 0px;
    }
    .v-btn{
      padding: 1px;
    }
  }
  .btn-more{
    margin-top: 4rem;
  }
}
.blogs{
  .main-banner{
    height: 500px;
    border-bottom: 2px solid rgba(112, 112, 112, 0.23);
    border-width: thin;
  }
  &-body{
    background-color: #fff;
  }
  .box-container{
    border-radius: 0;
    padding: 2rem 4rem 5rem 4rem;
  }
  .search-modal{
    margin-top: 8rem;
  }
}
.single-blog{
  .list-links{
    margin-right: 28px;
    li{
      list-style: none;
      .v-btn{
        font-size: 19px;
        color: #9B9B9B;
      }

    }
  }
  .v-expansion-panel__header>:not(.v-expansion-panel__header__icon){
    flex: 0;
  }
  .v-expansion-panel{
    box-shadow: none;
    &__header{
      justify-content: space-between;
      align-items: center;
      padding: 0;
      min-height: auto;
      .fa-2x{
        font-size: 30px !important;
      }
      .v-btn{
        font-size: 19px;
      }

      > div{
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }

  .blog-content{
    strong{
      font-weight: bold;
      position: relative;
      margin-bottom: 2rem;
      display: block;
      font-size: 30px;
      padding-top: 3rem;
      &:before{
        content: '';
        width: 80px;
        height: 2px;
        background-color: $main-color;
        position: absolute;
        right: 0;
        bottom: 0;
        margin-bottom: -0.5rem;
      }
    }
    p{
      font-size: 22px;
      line-height: 1.5;
      font-weight: 500;
    }
  }
}
