.testimonial{
  .main-title{
    font-size: 10rem;
    color: gray;
    line-height: 0.5;
  }
  &-item{
    display: flex !important;
    background-color: transparent !important;
    text-align: center;
    line-height: 2;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    flex-direction: column;
   .desc{
     color: $grayColor;
     margin-bottom: 1rem;
     margin-top: 1rem;
    span{
      font-family: $main-font !important;

    }
   }
    .user{
      display: flex;
      justify-content: space-between;
      align-items: center;
      text-align: right;
      .user-name{
        font-weight: 100;
      }
      .image{
        overflow: hidden;
        width: 80px !important;
        height: 80px;
        border-radius: 50% !important;
        background-color: $main-color;
        object-fit: cover;
        margin-left: 15px;
      }
      .icon{
        color: #FFEE00;
        font-size: 18px !important;
      }
    }
  }
}
