<template>
    <div class="section template">
        <v-container  grid-list-md text-center>
            <h2 class="main-title text-xs-right">شروط وأحكام <span class="primary--text"> أخضر </span></h2>
            <div
                    id="scroll-target"
                    style="max-height: 55vh"
                    class="scroll-y"
            >
                <div
                        v-scroll:#scroll-target="onScroll"
                        column
                        align-center
                        justify-center
                        style="height: auto"
                >
                    <p class="desc">
                        ومن هنا وجب على المصمم أن يضع نصوصا مؤقتة على التصميم ليظهر للعميل الشكل كاملاً،دور مولد النص العربى أن يوفر على المصمم عناء البحث عن نص بديل, لا علاقة له بالموضوع الذى يتحدث عنه التصميم فيظهر بشكل لا يليق إذا كنت تحتاج إلى عدد أكبر من الفقرات يتيح لك مولد النص العربى زيادة عدد الفقرات كما تريد. تم توليد هذا النص العرب من موقعه لفه دون مشكلة فلن يبدو وكأنه نص منسوخ، غير منظم، غير منسق، أو حتى غير مفهوم. لأنه مازال نصاً بديلاً ومؤقتاً مثال نص عربى كبير ولا يحوي أخطاء لغوية، مولد النص العربى مفيد لمصممي المواقع

                        ومن هنا وجب على المصمم أن يضع نصوصا مؤقتة على التصميم ليظهر للعميل الشكل كاملاً،دور مولد النص العربى أن يوفر على المصمم عناء البحث عن نص بديل, لا علاقة له بالموضوع الذى يتحدث عنه التصميم فيظهر بشكل لا يليق إذا كنت تحتاج إلى عدد أكبر من الفقرات يتيح لك مولد النص العربى زيادة عدد الفقرات كما تريد. تم توليد هذا النص العرب من موقعه لفه دون مشكلة فلن يبدو وكأنه نص منسوخ، غير منظم، غير منسق، أو حتى غير مفهوم. لأنه مازال نصاً بديلاً ومؤقتاً مثال نص عربى كبير ولا يحوي أخطاء لغوية، مولد النص العربى مفيد لمصممي المواقع

                        ومن هنا وجب على المصمم أن يضع نصوصا مؤقتة على التصميم ليظهر للعميل الشكل كاملاً،دور مولد النص العربى أن يوفر على المصمم عناء البحث عن نص بديل, لا علاقة له بالموضوع الذى يتحدث عنه التصميم فيظهر بشكل لا يليق إذا كنت تحتاج إلى عدد أكبر من الفقرات يتيح لك مولد النص العربى زيادة عدد الفقرات كما تريد. تم توليد هذا النص العرب من موقعه لفه دون مشكلة فلن يبدو وكأنه نص منسوخ، غير منظم، غير منسق، أو حتى غير مفهوم. لأنه مازال نصاً بديلاً ومؤقتاً مثال نص عربى كبير ولا يحوي أخطاء لغوية، مولد النص العربى مفيد لمصممي المواقع

                        ومن هنا وجب على المصمم أن يضع نصوصا مؤقتة على التصميم ليظهر للعميل الشكل كاملاً،دور مولد النص العربى أن يوفر على المصمم عناء البحث عن نص بديل, لا علاقة له بالموضوع الذى يتحدث عنه التصميم فيظهر بشكل لا يليق إذا كنت تحتاج إلى عدد أكبر من الفقرات يتيح لك مولد النص العربى زيادة عدد الفقرات كما تريد. تم توليد هذا النص العرب من موقعه لفه دون مشكلة فلن يبدو وكأنه نص منسوخ، غير منظم، غير منسق، أو حتى غير مفهوم. لأنه مازال نصاً بديلاً ومؤقتاً مثال نص عربى كبير ولا يحوي أخطاء لغوية، مولد النص العربى مفيد لمصممي المواقع


                    </p>
                </div>
            </div>
            <v-btn color="primary" text round large class="mt-4">موافق</v-btn>
        </v-container>
    </div>
</template>

<script>
    export default {
        name: "privacy",
        data: () => ({
            offsetTop: 0
        }),
        methods:{
            onScroll (e) {
                this.offsetTop = e.target.scrollTop
            }
        }
    };
</script>

<style scoped>

</style>
