<template>
    <div class="section categories gray">
        <v-container>
            <h2 class="main-title">
                أقسام أخضر
            </h2>
            <slick ref="slick" :options="slickOptions" class="slider" v-if="categories.length > 0">
                <v-card class="category-item" v-for="category in categories" :to="'/sections/'+category.id">
                    <!--<i class="fa fa-clock-o icon"></i>-->
                    <img :src="category.image" alt="" class="icon">
                    <h5 class="category-item--title">{{category.name}}</h5>
                </v-card>
            </slick>
            <div class="category-caption">
                <h2 class="mb-3">أخضر لتبسيط الكتب المفيدة - من كتاب لحكاية</h2>
                <p>   أخضر هو محاولة لإضافة الروح للمعلومات الجامدة، دمج التكنولوجيا والمادة الثقافية
                    لتحقيق متعة المشاهدة وفائدة الكتاب فى الوقت ذاته</p>

                <v-btn color="#1E7145" flat large outline class="btn-width" to="/register">إبدأ معنا الفترة المجانية</v-btn>
            </div>
        </v-container>
    </div>
</template>

<script>
    import Slick from 'vue-slick';

    export default {
        name: "categories",
        components: {
            Slick
        },
        data(){
            return{
                slickOptions: {
                    // infinite: true,
                    rtl: true,
                    // centerMode: false,
                    // centerPadding: '30%',
                    slidesToScroll: 3,
                    slidesToShow: 6,
                    responsive: [
                        {
                            breakpoint: 1440 ,
                            settings: {
                                slidesToShow: 6,
                                centerPadding: '0',
                                centerMode: false,
                                arrows:true,
                            }
                        },
                        {
                            breakpoint: 992 ,
                            settings: {
                                slidesToShow: 2,
                                dots:true,
                                arrows:true,
                                centerPadding: '0',
                            }
                        },
                        {
                            breakpoint: 768 ,
                            settings: {
                                slidesToShow: 1,
                                centerMode: true,
                                dots:true,
                                arrows:false,
                                centerPadding: '0',
                            }
                        }]
                },
                items:[
                    {
                        icon: require('@/assets/images/computer.png'),
                        title:'الأسرة والطفل'
                    },
                    {
                        icon: require('@/assets/images/dna.png'),
                        title:'إدارة الأعمال'
                    }, {
                        icon: require('@/assets/images/manager.png'),
                        title:'التسويق'
                    }, {
                        icon: require('@/assets/images/dna.png'),
                        title:'موارد بشرية'
                    }, {
                        icon: require('@/assets/images/settings.png'),
                        title:'الأسرة والطفل'
                    },
                    {
                        icon: require('@/assets/images/computer.png'),
                        title:'علوم'
                    },
                    {
                        icon: require('@/assets/images/computer.png'),
                        title:'الأسرة والطفل'
                    },
                    {
                        icon: require('@/assets/images/dna.png'),
                        title:'إدارة الأعمال'
                    }, {
                        icon: require('@/assets/images/manager.png'),
                        title:'التسويق'
                    }, {
                        icon: require('@/assets/images/dna.png'),
                        title:'موارد بشرية'
                    }, {
                        icon: require('@/assets/images/settings.png'),
                        title:'الأسرة والطفل'
                    },
                    {
                        icon: require('@/assets/images/computer.png'),
                        title:'علوم'
                    },
                ],
                categories:[]
            }
        },
        methods:{
            getCategories() {
                this.$http.get('/web/categories').then((response) => {
                    this.categories = response.data.data;
                    console.log('categories', this.categories)
                }).catch(() => {

                });
            }
        },
        mounted(){
            this.getCategories();
        }
    };
</script>

<style scoped lang="scss">

</style>
