.recommendations{
  .recommendation-item{
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    >div{
      &:first-child{
        max-width: 30%;
        flex-basis: 30%;
      }
      &:last-child{
        max-width: 70%;
        flex-basis: 70%;
      }
    }
    &--title{
      color: $main-color;
    }
    .desc{
      margin-top: 0.5rem;
      margin-bottom: 2rem;
      span{
        font-family: $main-font !important;

      }
    }
    .book-num{
      color: $grayColor;
      font-size: 14px;
    }
    .image{
      width: 150px !important;
      height: 150px;
      border-radius: 50% !important;
      //background-color: $main-color;
      display: flex;
      justify-content: center;
      align-items: center;
      .icon{
        width: 80%;
        height: 80%;
        object-fit: contain;
      }
    }
  }
  &.page{
    .recommendation-item{
      max-width: 520px;
      margin: 2rem 0 3rem auto;
    }
  }
  &.section {
    .container{
      position: relative;
      .btn-all{
        position: absolute;
        left: 0;
        bottom: 0;
        margin-left: 77px;
        margin-bottom: -27px;
      }
    }
  }
}


@media (max-width: 767px){
  .recommendations .recommendation-item .image{
    width: 116px !important;
  }
  .recommendations.section .container .btn-all{
    position: relative;
    margin: 15px 0 0 0;
    width: 100%;
    text-align: center;
  }
  .recommendations .recommendation-item{
    > div:first-child {
      max-width: 100%;
      -ms-flex-preferred-size: 30%;
      flex-basis: 100%;
    }
    flex-direction: column;
    .ml-3{
      margin-left: 0 !important;
    }
  }
}
