<template>
    <div class="section latest-blogs white">
        <v-container  grid-list-md text-center>
            <h2 class="main-title">آخر تدويناتنا</h2>
            <v-layout row wrap>
                <v-flex xs12 sm6 md4 v-for="(blog , index) in blogs" v-if="index <= 2">
                    <blog-card
                            :id="blog.id"
                            :title="blog.title"
                            :image="blog.image"
                            :desc="blog.description"
                            :date="blog.created_at"
                            :writer-name="blog.write_name"
                    ></blog-card>
                </v-flex>
            </v-layout>
            <div class="text-xs-center">
                <v-btn color="#C4C4C4" class="white--text btn-more btn-width" to="/books" depressed large>المزيد</v-btn>
            </div>
        </v-container>
    </div>
</template>

<script>
    import blogCard from '../lists/blog-card'
    export default {
        name: "latest-blogs",
        data(){
            return{
                tabContent:[
                    {
                        image:require('@/assets/images/item.png'),
                        title:'كون أصدقاء',
                        subtitle:'أندرو ماثيوز' ,
                        desc:'ولا يحوي أخطاء لغوية، مولد النص العربى مفيد لمصممي المواقع على وجه الخصوص، حيث يحتاج العميل فى كثير من الأحيان أن يطلع على صورة حقيقية لتصميم الموقع\'عجيب غريب مريب دون مشكلة فلن يبدو وكأنه نص منسوخ، غير منظم، غير منسق، أو حتى غير مفهوم. لأنه مازال نصاً بديلاً ومؤقتاً هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة إذا كنت تحتاج إلى عدد أكبر من الفقرات يتيح لك مولد النص العربى زيادة عدد الفقرات كما تريد., ' ,
                    },
                    {
                        image:require('@/assets/images/item02.png'),
                        title:'كيف تسيطر على الآخرين',
                        subtitle:'أندرو ماثيوز' ,
                        desc:'ولا يحوي أخطاء لغوية، مولد النص العربى مفيد لمصممي المواقع على وجه الخصوص، حيث يحتاج العميل فى كثير من الأحيان أن يطلع على صورة حقيقية لتصميم الموقع\'عجيب غريب مريب دون مشكلة فلن يبدو وكأنه نص منسوخ، غير منظم، غير منسق، أو حتى غير مفهوم. لأنه مازال نصاً بديلاً ومؤقتاً هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة إذا كنت تحتاج إلى عدد أكبر من الفقرات يتيح لك مولد النص العربى زيادة عدد الفقرات كما تريد., ' ,
                    },
                    {
                        image:require('@/assets/images/item03.png'),
                        title:'نظم وقتك في 60 ثانية',
                        subtitle:'أندرو ماثيوز' ,
                        desc:'ولا يحوي أخطاء لغوية، مولد النص العربى مفيد لمصممي المواقع على وجه الخصوص، حيث يحتاج العميل فى كثير من الأحيان أن يطلع على صورة حقيقية لتصميم الموقع\'عجيب غريب مريب دون مشكلة فلن يبدو وكأنه نص منسوخ، غير منظم، غير منسق، أو حتى غير مفهوم. لأنه مازال نصاً بديلاً ومؤقتاً هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة إذا كنت تحتاج إلى عدد أكبر من الفقرات يتيح لك مولد النص العربى زيادة عدد الفقرات كما تريد., ' ,
                    },

                ],
                blogs:[]
            }
        },
        components:{
            blogCard
        },
        methods:{
            getBlogs(){
                this.$http.get('/web/blog').then((response)=>{
                    this.blogs = response.data.data
                }).catch(()=>{

                });
            }
        },
        mounted(){
            this.getBlogs();
        }
    };
</script>

<style scoped>

</style>
