<template>
    <div class="main-banner"
         :class="{'recommendations': displayClass}"
         :style="{
          backgroundImage: `url(${bgImage})` }"
    >

        <v-container grid-list-md text-center >
            <v-layout wrap row>
                <v-flex xs12 sm12 :class="{'md7' : $route.name === 'home' , 'md8' : $route.name !== 'home'}">
                    <div class="main-banner__text">
                        <h1 class="banner-title">{{bannerTitle}}</h1>
                        <h2 class="subtitle">{{subtitle}}</h2>

                        <slot name="banner-with-btn"></slot>

                        <p class="desc" v-html="desc"></p>
                        <p v-if="bookCount" class="grey--text">   عدد  الكتب  " {{bookCount}}  "</p>

                        <div class="store-app" v-if="appsDisplay">
                           <a :href="social.android_link" target="_blank">
                               <img src="../../assets/images/appstore.png" alt="">
                           </a>
                           <a :href="social.ios_link" target="_blank">
                               <img src="../../assets/images/appstore01.png" alt="">
                           </a>
                       </div>
                    </div>
                    <slot name="searchForm"></slot>
                </v-flex>
                <v-flex xs12 sm12 :class="{'md5' : $route.name === 'home' , 'md4' : $route.name !== 'home'}">
                    <v-img
                            :src="image"
                            :lazy-src="image"
                            aspect-ratio="1"
                            contain
                            class="main-banner__image"
                            :class="{'custom-banner-image': customSize}"
                    ></v-img>
                </v-flex>
            </v-layout>
            <div class="main-banner__social">
                <a class="v-btn v-btn--icon" :href="social.facebook" target="_blank"  ><i class="fa fa-facebook"></i></a>
                <a class="v-btn v-btn--icon" :href="social.twitter" target="_blank"><i class="fa fa-twitter"></i></a>
                <a class="v-btn v-btn--icon" :href="social.youtube" target="_blank"><i class="fa fa-youtube"></i></a>
                <a class="v-btn v-btn--icon" :href="social.instagram" target="_blank"><i class="fa fa-instagram"></i></a>
                <a class="v-btn v-btn--icon" :href="social.whatsapp" target="_blank"><i class="fa fa-whatsapp"></i></a>
            </div>
        </v-container>
    </div>
</template>

<script>
    export default {
        name: "main-banner",
        props:['bannerTitle', 'desc' , 'image' , 'bgColor' ,'bgImage' , 'subtitle' ,
                'appsDisplay' ,'customSize' , 'displayClass' , 'bookCount'],
        data () {
            return {
                social:{}
            }
        },
        methods:{
            getSocial(){
                this.$http.get('/web/socials').then((response)=>{
                    this.social = response.data.data
                }).catch((error)=>{

                });
            }
        },
        mounted(){
            this.getSocial();
        }
    };
</script>

<style scoped>

</style>
