<template>
    <div class="section off-white download-app">
        <v-container>
            <v-layout row wrap class="align-center">
                <v-flex md6>
                    <v-img
                            :src="image"
                            height="500"
                            contain
                    ></v-img>
                </v-flex>
                <v-flex md6>
                    <div>
                        <h2 class="primary--text  mb-3">كل ده وأكتر لما تحمل تطبيق أخضر على موبايلك

                            وإستمتع بسماع وقراءة ملخصات الكتب إللي نفسك تقرأها

                        </h2>
                        <div class="store-app" >
                            <a :href="social.android_link" target="_blank">
                                <img src="../../assets/images/appstore.png" alt="">
                            </a>
                            <a :href="social.ios_link" target="_blank">
                                <img src="../../assets/images/appstore01.png" alt="">
                            </a>
                        </div>
                    </div>
                </v-flex>
            </v-layout>
        </v-container>
    </div>
</template>

<script>
    export default {
        name: "download-app",
        data(){
            return{
                image:  require('@/assets/images/banner-demo.png'),
                social:{}
            }
        },
        methods:{
            getSocial(){
                this.$http.get('/web/socials').then((response)=>{
                    this.social = response.data.data
                }).catch((error)=>{

                });
            }
        },
        mounted(){
            this.getSocial();
        }
    };
</script>

<style scoped>

</style>
