<template>
    <div class="section three-demos primary">
        <v-container grid-list-md text-center>
            <v-layout row wrap>
                <v-flex xs12 sm6 md4 v-for="item in items" class="">
                    <v-card flat color="rgba(0,0,0,0)" class="text-xs-center item">
                        <v-img
                                :src="item.icon"
                                height="500"
                                contain
                                aspect-ratio="1.7"
                        ></v-img>

                        <v-card-title primary-title>
                            <div>
                                <p class="white--text font-weight-medium">{{item.desc}}</p>
                            </div>
                        </v-card-title>
                    </v-card>
                </v-flex>
            </v-layout>
            <div class="store-app">
                <a :href="social.android_link" target="_blank">
                    <img src="../../assets/images/appstore.png" alt="">
                </a>
                <a :href="social.ios_link" target="_blank">
                    <img src="../../assets/images/appstore01.png" alt="">
                </a>
            </div>
        </v-container>
    </div>
</template>

<script>
    export default {
        name: "three-categories",
        data(){
            return{
                social:{},
                items:[
                    {
                        icon: require('@/assets/images/demo4.png'),
                        title:'الأسرة والطفل',
                        desc: 'مكتبة مختارة من الكتب\n' +
                            'جودة صوت عالية ومسموعة'
                    },
                    {
                        icon: require('@/assets/images/demo2.png'),
                        title:'إدارة الأعمال',
                        desc: 'تقدر تكون مكتبتك الخاصة\n' +
                            'وترجع لها في أ وقت'
                    }, {
                        icon: require('@/assets/images/demo1.png'),
                        title:'التسويق',
                        desc: 'مجموعة الكتب ملخصة لك\n' +
                            'في شكل حكاية تقرأها أو تسمعها'
                    },
                ]
            }
        },
        methods:{
            getSocial(){
                this.$http.get('/web/socials').then((response)=>{
                    this.social = response.data.data
                }).catch((error)=>{

                });
            }
        },
        mounted(){
            this.getSocial();
        }
    };
</script>

<style scoped>

</style>
