<template>
    <div class="section three-categories">
        <v-container grid-list-md text-center>
            <v-layout row wrap>
                <v-flex xs12 sm6 md4 v-for="item in items">
                    <v-card flat color="rgba(0,0,0,0)" class="text-xs-center">
                        <v-img
                                :src="item.icon"
                                height="70"
                                contain
                        ></v-img>

                        <v-card-title primary-title>
                            <div>
                                <h4 class="mb-2 mt-4">{{item.title}}</h4>
                                <p class="grey--text">{{item.desc}}</p>
                            </div>
                        </v-card-title>

                    </v-card>
                </v-flex>
            </v-layout>
            <div class="text-xs-center">
                <v-btn color="#1E7145" flat large outline class="btn-width btn-more" to="/register">إبدأ معنا الفترة المجانية</v-btn>
            </div>
        </v-container>
    </div>
</template>

<script>
    export default {
        name: "three-categories",
        data(){
            return{
                items:[
                    {
                        icon: require('@/assets/images/surface01.png'),
                        title:'ملخصات للكتب',
                        desc: 'جمعنالك أشهر الكتب وإللي فيها معلومات\n' +
                            'مهمة تفيدك في المجتمع وتفيدك في شغلك وتعاملك\n' +
                            'مع الناس وعملنا منها تلخيص'
                    },
                    {
                        icon: require('@/assets/images/surface02.png'),
                        title:'تسجيل صوتي لكل الملخصات',
                        desc: 'لما تختار أي تلخيص لأي كتاب هتلاقي\n' +
                            'معاة تلخيص صوتي لو أنت محتاج إنك تسمع\n' +
                            'التلخيص بدل من إنك تقرأ'
                    }, {
                        icon: require('@/assets/images/surface03.png'),
                        title:'تقدر تحفظها على جهازك',
                        desc: 'هتقدر إنك تحمل الكتاب على التطبيق\n' +
                            'في موبايلك وتستكمل القراءة أو سماع التلخيص\n' +
                            'في أي وقت من غير إنترنت'
                    },
                ]
            }
        }
    };
</script>

<style scoped>

</style>
