<template>
    <div class="sections page">
        <main-banner :bg-image="bg"
                     :banner-title="banner.name"
                     :subtitle = "subtitle"
                     :desc="banner.description"
                     :image="banner.image"
                     :apps-display="false"
                     :custom-size="true"
                     :display-class="false"
        ></main-banner>
        <v-container grid-list-md text-center>
            <v-layout row wrap>
                <v-flex xs12>
                    <v-form  class="search-modal" @submit.prevent="">
                        <v-text-field
                                label="إبحث بالعنوان أو إسم الكاتب"
                                prepend-inner-icon="search"
                                placeholder=""
                                v-model="searchKeyword"
                        ></v-text-field>
                        <v-btn @click="searchIsActive" icon class="close-search-modal"><i class="fa fa-times"></i></v-btn>
                    </v-form>
                </v-flex>
                <v-flex xs12 md3 v-for="book in filteredBooks">
                    <featuredCardItem
                            :id="book.id"
                            :title="book.title"
                            :image="book.image"
                            :subtitle="book.subtitle"
                            :desc="book.note"
                            :action="book.long_sound"
                            :data="book"
                    ></featuredCardItem>
                </v-flex>
            </v-layout>
        </v-container>
    </div>
</template>

<script>
    import mainBanner from '../main-banner/main-banner'
    import featuredCardItem from '../lists/featured-card'
    import axios from 'axios'
    let token = localStorage.getItem('userToken');
    const headers = {
        "Content-Type": "application/json",
        'Authorization': "Bearer " + token
    };

    export default {
        name: "sections-page",
        data(){
            return{
                title:'',
                subtitle:'',
                desc: '',
                image:  require('@/assets/images/hand.png'),
                bg :  require('@/assets/images/main-banner.png'),
                items:[
                    {
                        image:require('@/assets/images/item.png'),
                        title:'كون أصدقاء',
                        subtitle:'أندرو ماثيوز' ,
                        desc:'تأقلم مع الآخرين' ,
                        action:'11 دقائق قراءة'
                    },
                    {
                        image:require('@/assets/images/item02.png'),
                        title:'كيف تسيطر على الآخرين',
                        subtitle:'أندرو ماثيوز' ,
                        desc:'تأقلم مع الآخرين' ,
                        action:'11 دقائق قراءة'
                    },
                    {
                        image:require('@/assets/images/item03.png'),
                        title:'نظم وقتك في 60 ثانية',
                        subtitle:'أندرو ماثيوز' ,
                        desc:'تأقلم مع الآخرين' ,
                        action:'11 دقائق قراءة'
                    },
                    {
                        image:require('@/assets/images/item03.png'),
                        title:'كيف تقول لا',
                        subtitle:'أندرو ماثيوز' ,
                        desc:'تأقلم مع الآخرين' ,
                        action:'11 دقائق قراءة'
                    },
                    {
                        image:require('@/assets/images/item02.png'),
                        title:'كيف تسيطر على الآخرين',
                        subtitle:'أندرو ماثيوز' ,
                        desc:'تأقلم مع الآخرين' ,
                        action:'11 دقائق قراءة'
                    },
                    {
                        image:require('@/assets/images/item03.png'),
                        title:'نظم وقتك في 60 ثانية',
                        subtitle:'أندرو ماثيوز' ,
                        desc:'تأقلم مع الآخرين' ,
                        action:'11 دقائق قراءة'
                    },
                    {
                        image:require('@/assets/images/item03.png'),
                        title:'كيف تقول لا',
                        subtitle:'أندرو ماثيوز' ,
                        desc:'تأقلم مع الآخرين' ,
                        action:'11 دقائق قراءة'
                    },
                    {
                        image:require('@/assets/images/item02.png'),
                        title:'كيف تسيطر على الآخرين',
                        subtitle:'أندرو ماثيوز' ,
                        desc:'تأقلم مع الآخرين' ,
                        action:'11 دقائق قراءة'
                    },
                    {
                        image:require('@/assets/images/item03.png'),
                        title:'نظم وقتك في 60 ثانية',
                        subtitle:'أندرو ماثيوز' ,
                        desc:'تأقلم مع الآخرين' ,
                        action:'11 دقائق قراءة'
                    },
                    {
                        image:require('@/assets/images/item03.png'),
                        title:'كيف تقول لا',
                        subtitle:'أندرو ماثيوز' ,
                        desc:'تأقلم مع الآخرين' ,
                        action:'11 دقائق قراءة'
                    },
                    {
                        image:require('@/assets/images/item02.png'),
                        title:'كيف تسيطر على الآخرين',
                        subtitle:'أندرو ماثيوز' ,
                        desc:'تأقلم مع الآخرين' ,
                        action:'11 دقائق قراءة'
                    },
                    {
                        image:require('@/assets/images/item03.png'),
                        title:'نظم وقتك في 60 ثانية',
                        subtitle:'أندرو ماثيوز' ,
                        desc:'تأقلم مع الآخرين' ,
                        action:'11 دقائق قراءة'
                    },
                    {
                        image:require('@/assets/images/item03.png'),
                        title:'كيف تقول لا',
                        subtitle:'أندرو ماثيوز' ,
                        desc:'تأقلم مع الآخرين' ,
                        action:'11 دقائق قراءة'
                    },


                ],
                banner:{},
                books:[],
                searchKeyword:''

            }
        },
        components:{
            mainBanner,
            featuredCardItem
        },
        methods:{
            searchIsActive(){
                this.searchKeyword = '';
            },
            getSingleCategory(){
                this.$http.get('/web/single_category/'+this.$route.params.id).then((response)=>{
                    this.banner = response.data.data;
                }).catch((error)=>{

                });
            },
            getBooksById(){
                let baseUrl ;
                if (token){
                    baseUrl = this.$http.get("/web/books/"+this.$route.params.id , {headers: headers})
                }else{
                    baseUrl = this.$http.get("/web/books/"+this.$route.params.id)
                };
                baseUrl.then((response)=>{
                    this.books = response.data.data;
                }).catch((error)=>{

                });
            }
        },
        mounted(){
            this.getBooksById();
            this.getSingleCategory();
        },
        computed: {
            filteredBooks() {
                return this.books.filter((book) => {
                    return book.title.toLowerCase().includes(this.searchKeyword.toLowerCase()) ||
                        book.write_name.toLowerCase().includes(this.searchKeyword.toLowerCase());
                });
            }
        },
        watch:{
            '$route.params.id':function() {
                this.getBooksById();
                this.getSingleCategory();
            }
        }
    };
</script>

<style scoped>

</style>
