<template>
    <div class="single-section">
        <v-container  grid-list-md text-center>
            <v-breadcrumbs :items="links" large  divider="\"></v-breadcrumbs>
            <div class="box-container">
                <v-layout row wrap>
                    <v-flex xs12>
                        <section-card :book="book" @clicked="getSingleBook"></section-card>
                    </v-flex>
                </v-layout>
            </div>
            <div class="pt-5 pb-5">
                <h2 class="main-title text-xs-right mb-0">كتب أُضيفت حديثا في   <span class="primary--text">أخضر</span></h2>
               <loader-component v-if="loader"></loader-component>
                <v-layout row wrap>
                    <v-flex xs12 md4 v-for="(item , index) in books" v-if="index <= 2 ">
                        <featuredCardItem
                                :id="item.id"
                                :title="item.title"
                                :image="item.image"
                                :subtitle="item.write_name"
                                :desc="item.note"
                                :action="item.long_sound"
                                :data="item"
                        ></featuredCardItem>
                    </v-flex>
                </v-layout>
                <div class="text-xs-center mt-5">
                    <v-btn color="#C4C4C4" class="white--text btn-more btn-width" to="/books/new" depressed large>المزيد</v-btn>
                </div>
            </div>

        </v-container>
    </div>
</template>

<script>
    import sectionCard from '../lists/section-card'
    import featuredCardItem from '../lists/featured-card'


    let token = localStorage.getItem('userToken');
    const headers = {
        "Content-Type": "application/json",
        'Authorization': "Bearer " + token
    };

    export default {
        name: "single-section",
        data(){
            return{
                book:{},
                title:'ترشيحات يقدمها لك أخضر',
                subtitle:'',
                desc:'يوفر عليك أخضر في البحث عن الكتب التي يتحدث\n' +
                    'عنها المشاهير والموهوبين ويقدمها لك في صورة\n' +
                    'مجموعات سميت بأسماء هؤلاء لدينا',
                image:  require('@/assets/images/book-icon.png'),
                bg :  require('@/assets/images/bg.svg'),

                items:[
                    {
                        id:1,
                        icon: require('@/assets/images/ani.png'),
                        title:'كتب مُرشحة من ستيف جوبز',
                        desc:'صرح ستيف جوبز في لقاء له مع          عن كتب إهتم بقراءتها\n' +
                            'ونّصح بها المتابعين بقراءتها وقال "عليكم بقراءة هذه الكتب\n' +
                            '"ستفيدكم في حياتكم العملية',
                        number: 15
                    },
                ],
                links:[],
                books:[],
                loader:false


            }
        },
        components:{
            sectionCard,
            featuredCardItem

        },
        methods:{
            getSingleBook(){
                let token = localStorage.getItem('userToken');
                const headers = {
                    "Content-Type": "application/json",
                    'Authorization': "Bearer " + token
                };
                let baseUrl ;
                if (token){
                    baseUrl = this.$http.get('/web/single_book/'+this.$route.params.id, {headers: headers})
                }else{
                    baseUrl = this.$http.get('/web/single_book/'+this.$route.params.id)
                };
                baseUrl.then((response)=>{
                    this.book = response.data.data;
                    this.$router.replace({query: {name: this.book.title}});


                    this.links= [
                        {
                            text: 'الرئيسية',
                            disabled: false,
                            href: '/',
                        },
                        {
                            text: this.book.category_name,
                            disabled: false,
                            href: '/sections/'+this.book.category_id,
                        },
                        {
                            text: this.book.title,
                            disabled: true,
                            href: '',
                        },
                    ]

                }).catch(()=>{

                })
            },
            getNewBooks() {
                this.loader = true;
                let baseUrl ;
                if (token){
                    baseUrl = this.$http.get("/web/books" , {headers: headers})
                }else{
                    baseUrl = this.$http.get("/web/books")
                };
                baseUrl.then((response) => {
                    this.loader = false;
                    this.books = response.data.data;
                }).catch((error) => {

                });
            },
        },
        created(){
            this.getSingleBook();

        },
        // beforeMount(){
        //     this.getSingleBook();
        //
        // },
        mounted(){
            this.getNewBooks();
        },
        watch: {
            '$route.params.id':function (){
                this.getSingleBook();
            }
        }
    };
</script>

<style scoped>

</style>
