.sections{
  .main-banner .main-banner__text{
    margin-top: 0;
  }
  .search-modal{
      max-width: 500px;
    .close-search-modal{
      margin-left: 0;
    }
    .fa , .v-icon{
      color: #949494;
    }
  }
  .features-tabs--item{
    margin-top: 2rem;
  }
}
.single-section{
  .book-card{
    margin: -2rem;
  }
  .features-tabs{
    margin: 2rem -2rem 0 -2rem;
    padding: 2rem;
    line-height: 2;
    font-size: 19px;
  }
}

.percantage{
  position: absolute;
  left:0;
  top: 0;
  transform: scale(0.8);
}
.custom-para{
  h2{
    border-bottom: 1px solid #ddd;
  }
}

@media (max-width: 767px) {
  .blogs .search-modal{
    margin-top: 0;
  }
  .blogs .main-banner{
    height: auto;
  }
  .blogs .box-container{
    padding: 1rem;
  }
}
