<template>
    <div class="section white media-section">
        <v-container grid-list-md text-center>
            <h2 class="main-title">ظهورنا في الإعلام</h2>
            <v-layout row wrap>
                <v-flex xs12 sm6 md3 v-for="image in images">
                    <v-card flat tile class="d-flex">
                        <v-img
                                :src="image.src"
                                :lazy-src="image.src"
                                class="white lighten-2"
                                contain
                                height="60px"
                        >
                            <template v-slot:placeholder>
                                <v-layout
                                        fill-height
                                        align-center
                                        justify-center
                                        ma-0
                                >
                                    <v-progress-circular indeterminate color="grey lighten-5"></v-progress-circular>
                                </v-layout>
                            </template>
                        </v-img>
                    </v-card>
                </v-flex>
            </v-layout>
        </v-container>
    </div>
</template>

<script>
    export default {
        name: "media-section",
        data(){
            return{
                images:[
                    {src:require('@/assets/images/media/download.png')},
                    {src:require('@/assets/images/media/images.jpeg')},
                    {src:require('@/assets/images/media/shorouk-logo-3.jpg')},
                    {src:require('@/assets/images/media/unnamed.jpg')},
                ],
            }
        }
    };
</script>

<style scoped>

</style>
