
//@import '../../node_modules/slick-carousel/slick/slick';
//@import '../../node_modules/slick-carousel/slick/slick-theme';
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
@import "~line-awesome/css/line-awesome.min.css";

@import "base/themeColors";
@import "base/normalize";
@import "base/common";
@import "base/icons";
@import "base/button";
@import "base/inputs";
@import "base/breadcrumbs";
@import "base/dialog";



@import "main-nav/main-nav";
@import "main-banner/main-banner";
@import "features-tabs/features-tabs";
@import "categories/categories";
@import "media-section/media-section";
@import "categories/three-demos";
@import "follow-us-youtube/follow-us-youtube";
@import "latest-blogs/latest-blogs";
@import "recommendations/recommendations";
@import "testimonial/testimonial";
@import "forms/login-resgister";
@import "list/book-card";
@import "sections/sections";
@import "favorites/favorites";
@import "settings/settings";
@import "experimental/experimental";
@import "package/package";
@import "benefit/benefits";


@import "NProgress/nprogress";
@import "main-footer/main-footer";






.slide-fade-enter-active {
  transition: all .3s ease;
}
.slide-fade-leave-active {
  transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to{
transform: translateX(10px);
opacity: 0;
}

.vue-sound-wrapper .vue-sound__player{
  height: 100% !important;
  line-height: 2 !important;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 850px !important;
  position: relative;
  margin: 0 auto !important;

  .icon-volume-high,
  .icon-spinner11,
  .icon-download,
  .icon-stop2{
    display: none !important;
  }
  .icon-paragraph-justify:before {
    content: "\EA26" !important;
  }
   a{
     display: block !important;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 36px;
    border-radius: 50%;
    border: 2px solid;
    font-size: 26px;
    position: relative;
     transform: scale(0.8);
     &:before{
      position: absolute;
      left: 0;
      top: 0;
      text-align: center;
      width: 100%;
      height: 100%;
      line-height: 45px;
    }
  }
  .vue-sound__playback-time-wrapper{
    margin: 0 2rem;
    font-size: 17px !important;
    width: 350px !important;

  }
  input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    margin: 13.8px 0;
    display: block !important;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    background: $main-color;
    border-radius: 0;
    border: none;
  }
  input[type=range]::-webkit-slider-thumb {
    border: 1px solid $main-color;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background: #ffffff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -5px;
    transform: scale(1.2);
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #367ebd;
  }
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    background: $main-color;
    border-radius: 0;
    border: 0.2px solid #010101;
  }
  input[type=range]::-moz-range-thumb {
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: #2a6495;
    border: 0.2px solid #010101;
    border-radius: 0;
  }
  input[type=range]::-ms-fill-upper {
    background: $main-color;
    border: 0.2px solid #010101;
    border-radius: 0;
  }
  input[type=range]::-ms-thumb {
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 20px;
    background: #ffffff;
    cursor: pointer;
    height: 8.4px;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: $main-color;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: #367ebd;
  }

 .vue-sound__extern-wrapper .volume-toggle .volume-slider{
   width: 353px !important;
   right: -371px !important;
   left: auto !important;
   margin: 0 !important;
   top: 50% !important;
   transform: translateY(-45%)!important;
 }
  .vue-sound__playback-time-wrapper {
    height: 5px !important;
    position: absolute !important;
    right: 0 !important;
    .vue-sound__playback-time-indicator{
      background: $main-color !important;
    }
  }
 .vue-sound__extern-wrapper .volume-toggle{
  position: absolute !important;
  left: 0!important;
  top: 0!important;
}
}
.blogs {
  .vue-sound-wrapper .vue-sound__player{
    width:100% !important;
    justify-content: flex-end;
  }
  .vue-sound-wrapper .vue-sound__player .vue-sound__extern-wrapper .volume-toggle{
    display: none !important;
  }
  .vue-sound-wrapper .vue-sound__player .vue-sound__playback-time-wrapper{
    width: 850px !important;
  }
}


@media (max-width: 767px){
 .layout.wrap {
    flex-direction: column;
 }
  .v-tabs__wrapper{
    justify-content: flex-end;

  }
.open-book{
  .v-item-group.v-bottom-nav .v-btn{
    transform: scale(0.8);
    margin-right: -44px;
    margin-top: 9px;
  }
}
  .vue-sound-wrapper {
    transform: scale(0.8);
    .vue-sound__player{
      width: 321px !important;
    }
  }
  .vue-sound-wrapper .vue-sound__player .vue-sound__extern-wrapper .volume-toggle .volume-slider {
    width: 100px !important;
    right: -110px !important;
  }
  .vue-sound-wrapper .vue-sound__player .vue-sound__playback-time-wrapper {
    width: 100px !important;
  }
  .blogs   .vue-sound-wrapper .vue-sound__player .vue-sound__playback-time-wrapper{
    width: 160px !important;
  }
}
