<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <meta name="description" content="من كتاب لحكاية"/>
    <link rel="canonical" href="https://a5dr.com/"/>
    <link rel="next" href="https://a5dr.com/page/2"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="أخضر - من كتاب لحكاية"/>
    <meta property="og:description" content="من كتاب لحكاية"/>
    <meta property="og:url" content="https://a5dr.com/"/>
    <meta property="og:site_name" content="أخضر"/>
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:description" content="من كتاب لحكاية"/>
    <meta name="twitter:title" content="أخضر - من كتاب لحكاية"/>
    <meta name="twitter:site" content="@a5drcom"/>
    <title>a5dr</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Material+Icons">
    <link href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons'
          rel="stylesheet"/>
    <meta name=theme-color content=#1E7145>
</head>
<body>
<noscript>
    <strong>We're sorry but green2 doesn't work properly without JavaScript enabled. Please enable it to
        continue.</strong>
</noscript>
<div id="app"></div>
</body>
</html>
