<template>
    <div class="favorites pt-3 recommendations">
        <v-container>
            <h1>اهتماماتى</h1>
            <pre>
            </pre>
            <div>

                <v-tabs v-model="active" color="#fafafa"  slider-color="#1E7145">

                    <v-tab  key="1" ripple @click="$router.push('/library')">
                        مكتبتي

                    </v-tab>
                    <v-tab-item key="1">
                        <div class="box-container">
                            <loader-component v-if="loader"></loader-component>
                            <v-layout row wrap>
                                <v-flex sm12 v-for="item in myLibrary" v-if="myLibrary.length > 0">
                                    <book-card :data="item" @removeBook="removeFromLibrary($event)" @addBook="AddToFavorite($event)"></book-card>
                                </v-flex>
                                <v-flex v-if="myLibrary.length <= 0">
                                    <p>لا يوجد بيانات</p>
                                </v-flex>
                            </v-layout>
                        </div>
                    </v-tab-item>
                    <v-tab  key="2" ripple @click="$router.push('/favorites')">
                        المفضلة

                    </v-tab>
                    <v-tab-item key="2">
                        <div class="box-container">
                            <loader-component v-if="loader"></loader-component>
                            <v-layout row wrap>
                                <v-flex sm12 v-for="item in myFavourites" v-if="myFavourites.length > 0">
                                    <book-card :data="item"></book-card>
                                </v-flex>
                                <v-flex v-if="myFavourites.length <= 0">
                                    <p>لا يوجد بيانات</p>
                                </v-flex>
                            </v-layout>
                        </div>
                    </v-tab-item>
                    <v-tab  key="1" ripple @click="$router.push('/bookmarks')">
                        عنوايني
                    </v-tab>
                    <v-tab-item key="3">
                        <div class="box-container">
                            <loader-component v-if="loader"></loader-component>
                            <v-layout row wrap>
                                <v-flex sm12 v-for="address in addresses">
                                    <div class="address">
                                        <p>
                                            <span><i class="fa fa-quote-right"></i></span>
                                            {{address.text}}
                                            <span><i class="fa fa-quote-left"></i></span>

                                        </p>
                                        <div class="address-footer">
                                            <span>{{address.date}}</span>
                                            <span class="primary--text">{{address.author}}</span>
                                        </div>
                                        <div>
                                            <v-menu offset-y>
                                                <template v-slot:activator="{ on }">
                                                    <v-btn
                                                            color="primary"
                                                            flat icon
                                                            v-on="on" class="address-action">
                                                        <i class="fa fa-ellipsis-v fa-2x"></i>
                                                    </v-btn>
                                                </template>
                                                <v-list>
                                                    <v-list-tile>
                                                        <v-list-tile-title>حذف من عنواينى</v-list-tile-title>
                                                    </v-list-tile>
                                                </v-list>
                                            </v-menu>

                                        </div>

                                        <!--<v-btn icon class="grey&#45;&#45;text address-action" large><i class="fa fa-ellipsis-v fa-2x"></i></v-btn>-->
                                    </div>
                                </v-flex>
                            </v-layout>
                        </div>
                    </v-tab-item>
                </v-tabs>

            </div>


        </v-container>
    </div>
</template>

<script>
    import bookCard from '../lists/book-card'

    export default {
        name: "library-component",
        components:{
            bookCard
        },
        data () {
            return {
                loader:false,
                active: 2,
                myLibrary:[],
                myFavourites:[],
                addresses:[
                    {
                        text: 'ومن هنا وجب على المصمم أن يضع نصوصا مؤقتة على التصميم ليظهر للعميل الشكل كاملاً،دور مولد النص العربى أن يوفر على المصمم عناء البحث عن نص بديل, لا علاقة له بالموضوع الذى يتحدث عنه التصميم فيظهر بشكل لا يليق إذا كنت تحتاج إلى عدد أكبر من الفقرات يتيح لك مولد النص العربى زيادة عدد الفقرات كما تريد. تم توليد هذا النص العرب من موقعه لفه دون مشكلة فلن يبدو وكأنه نص منسوخ، غير منظم، غير منسق، أو حتى غير مفهوم. لأنه مازال نصاً بديلاً ومؤقتاً مثال',
                        date:'20-20-2015',
                        author:'محمد على'
                    },
                    {
                        text: 'ومن هنا وجب على المصمم أن يضع نصوصا مؤقتة على التصميم ليظهر للعميل الشكل كاملاً،دور مولد النص العربى أن يوفر على المصمم عناء البحث عن نص بديل, لا علاقة له بالموضوع الذى يتحدث عنه التصميم فيظهر بشكل لا يليق إذا كنت تحتاج إلى عدد أكبر من الفقرات يتيح لك مولد النص العربى زيادة عدد الفقرات كما تريد. تم توليد هذا النص العرب من موقعه لفه دون مشكلة فلن يبدو وكأنه نص منسوخ، غير منظم، غير منسق، أو حتى غير مفهوم. لأنه مازال نصاً بديلاً ومؤقتاً مثال',
                        date:'20-20-2015',
                        author:'محمد على'
                    },
                ],
                bookmarks:[]
            }
        },
        methods: {
            getMyLibrary(){
                this.loader=true;

                const headers = {
                    "Content-Type": "application/json",
                    'Authorization': "Bearer " + localStorage.getItem('userToken'),
                };
                this.$http.get('/web/my_library' , {headers:headers }).then((response)=>{
                    this.myLibrary = response.data.data;
                    this.loader=false;

                }).catch(()=>{

                })
            },
            getMyFavourites(){
                this.loader=true;

                const headers = {
                    "Content-Type": "application/json",
                    'Authorization': "Bearer " + localStorage.getItem('userToken'),
                };
                this.$http.get('/web/user_favourites' , {headers:headers }).then((response)=>{
                    this.myFavourites = response.data.data;
                    this.loader=false;

                }).catch(()=>{

                })
            },
            activeTab (){
                if(this.$route.name === 'library'){
                    this.active  = 0;
                }  if(this.$route.name === 'favorites'){
                    this.active  = 1;
                }  if(this.$route.name === 'bookmarks'){
                    this.active  = 2;
                }
            },
            editPath(){
                if(this.active === 0){
                    this.$router.push('/library');
                    this.$forceUpdate();
                }
                else if(this.active === 1){
                    this.$router.push({ path: 'favorites' });
                    this.$forceUpdate();
                }
                else if(this.active === 2){
                    this.$router.push({ path: 'bookmarks' });
                    this.$forceUpdate();
                }
                console.log(this.active);
                // if(this.active === 1){
                //     this.$route.path = '/fghjk'
                // }
                // if(this.active === 2){
                //     this.$route.path = '/fghjk'
                // }
            },
            removeFromLibrary(id){
                const headers = {
                    "Content-Type": "application/json",
                    'Authorization': "Bearer " + localStorage.getItem('userToken'),
                };
                console.log(headers);
                let bookID = {book_id:id};
                this.$http.post('/web/libraries' ,bookID , {headers:headers}).then((response)=>{
                    this.getMyLibrary();
                    console.log(response);

                }).catch((error)=>{

                });
            },
            AddToFavorite(id){

                const headers = {
                    "Content-Type": "application/json",
                    'Authorization': "Bearer " + localStorage.getItem('userToken'),
                };
                let bookID = {book_id:id};
                this.$http.post('/web/favourites' ,bookID , {headers:headers}).then((response)=>{
                    this.getMyFavourites();
                }).catch((error)=>{

                });
            },
            getMyBookmarks(){
                this.loader=true;

                const headers = {
                    "Content-Type": "application/json",
                    'Authorization': "Bearer " + localStorage.getItem('userToken'),
                };
                this.$http.get('/web/book_mark' , {headers:headers }).then((response)=>{
                    this.bookmarks = response.data.data;
                    this.loader=false;

                }).catch(()=>{

                })
            },

        },
        mounted(){
            this.getMyLibrary();
            this.getMyFavourites();
            // this.activeTab();
            this.getMyBookmarks();

        },
        watch:{
            // '$route.name': function () {
            //     this.activeTab();
            // }

        }
    };
</script>

<style scoped>

</style>
