<template>
    <div class="blogs sections page">
        <v-container grid-list-md text-center>
            <main-banner :bg-image="bg"
                         :banner-title="title"
                         :subtitle = "subtitle"
                         :desc="desc"
                         :image="image"
                         :apps-display="false"
                         :custom-size="true"
                         :display-class="true"
                         class="custom-main-banner"
            >
            </main-banner>
            <div class="blogs-body box-container">

                <div class="mt-4 mb-5">
                    <h2 class="mb-3">مين هو <span class="primary--text">أخضر</span></h2>
                    <p>ومن هنا وجب على المصمم أن يضع نصوصا مؤقتة على التصميم ليظهر للعميل الشكل كاملاً،دور مولد النص العربى أن يوفر على المصمم عناء البحث عن نص بديل, لا علاقة له بالموضوع الذى يتحدث عنه التصميم فيظهر بشكل لا يليق إذا كنت تحتاج إلى عدد أكبر من الفقرات يتيح لك مولد النص العربى زيادة عدد الفقرات كما تريد. تم توليد هذا النص العرب من موقعه لفه دون مشكلة فلن يبدو وكأنه نص منسوخ، غير منظم، غير منسق، أو حتى غير مفهوم. لأنه مازال نصاً بديلاً ومؤقتاً مثال نص عربى كبير ولا يحوي أخطاء لغوية، مولد النص العربى مفيد لمصممي المواقع على وجه الخصوص، حيث يحتاج العميل فى كثير من الأحيان أن يطلع على صورة حقيقية لتصميم الموقع'عجيب غريب مريب. دون مشكلة فلن يبدو وكأنه نص منسوخ، غير منظم، غير منسق، أو حتى غير مفهوم. لأنه مازال نصاً بديلاً ومؤقتاً تم توليد هذا النص العرب من موقعه لفه نعم , نص عربى غير منظم هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة, غريب عجيب إذا كنت تحتاج إلى عدد أكبر من الفقرات يتيح لك مولد النص العربى زيادة عدد الفقرات كما تريد. مثال نص عربى كبير
                        حيث يمكنك أن تولد مثل هذا النص أو العديد من النصوص الأخرى إضافة إلى زيادة عدد الحروف التى يولدها التطبيق
                        ولا يحوي أخطاء لغوية، مولد النص العربى مفيد لمصممي المواقع على وجه الخصوص، حيث يحتاج العميل فى كثير من الأحيان أن يطلع على صورة حقيقية لتصميم الموقع'عجيب غريب مريب.
                        إذا كنت تحتاج إلى عدد أكبر من الفقرات يتيح لك مولد النص العربى زيادة عدد الفقرات كما تريد. ولا يحوي أخطاء لغوية، مولد النص العربى مفيد لمصممي المواقع على وجه الخصوص، حيث يحتاج العميل فى كثير من الأحيان أن يطلع على صورة حقيقية لتصميم الموقع'عجيب غريب مريب نعم ومن هنا وجب على المصمم أن يضع نصوصا مؤقتة على التصميم ليظهر للعميل الشكل كاملاً،دور مولد النص العربى أن يوفر على المصمم عناء البحث عن نص بديل, لا علاقة له بالموضوع الذى يتحدث عنه التصميم فيظهر بشكل لا يليق, غريب عجيب تم توليد هذا النص العرب من موقعه لفه
                        حيث يمكنك أن تولد مثل هذا النص أو العديد من النصوص الأخرى إضافة إلى زيادة عدد الحروف التى يولدها التطبيق
                    </p>
                </div>

                <div class="mt-4 mb-5">
                    <h2 class="mb-3">ليه تشترك فى <span class="primary--text">أخضر</span></h2>
                    <p>ومن هنا وجب على المصمم أن يضع نصوصا مؤقتة على التصميم ليظهر للعميل الشكل كاملاً،دور مولد النص العربى أن يوفر على المصمم عناء البحث عن نص بديل, لا علاقة له بالموضوع الذى يتحدث عنه التصميم فيظهر بشكل لا يليق إذا كنت تحتاج إلى عدد أكبر من الفقرات يتيح لك مولد النص العربى زيادة عدد الفقرات كما تريد. تم توليد هذا النص العرب من موقعه لفه دون مشكلة فلن يبدو وكأنه نص منسوخ، غير منظم، غير منسق، أو حتى غير مفهوم. لأنه مازال نصاً بديلاً ومؤقتاً مثال نص عربى كبير ولا يحوي أخطاء لغوية، مولد النص العربى مفيد لمصممي المواقع على وجه الخصوص، حيث يحتاج العميل فى كثير من الأحيان أن يطلع على صورة حقيقية لتصميم الموقع'عجيب غريب مريب. دون مشكلة فلن يبدو وكأنه نص منسوخ، غير منظم، غير منسق، أو حتى غير مفهوم. لأنه مازال نصاً بديلاً ومؤقتاً تم توليد هذا النص العرب من موقعه لفه نعم , نص عربى غير منظم هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة, غريب عجيب إذا كنت تحتاج إلى عدد أكبر من الفقرات يتيح لك مولد النص العربى زيادة عدد الفقرات كما تريد. مثال نص عربى كبير
                        حيث يمكنك أن تولد مثل هذا النص أو العديد من النصوص الأخرى إضافة إلى زيادة عدد الحروف التى يولدها التطبيق
                        ولا يحوي أخطاء لغوية، مولد النص العربى مفيد لمصممي المواقع على وجه الخصوص، حيث يحتاج العميل فى كثير من الأحيان أن يطلع على صورة حقيقية لتصميم الموقع'عجيب غريب مريب.
                        إذا كنت تحتاج إلى عدد أكبر من الفقرات يتيح لك مولد النص العربى زيادة عدد الفقرات كما تريد. ولا يحوي أخطاء لغوية، مولد النص العربى مفيد لمصممي المواقع على وجه الخصوص، حيث يحتاج العميل فى كثير من الأحيان أن يطلع على صورة حقيقية لتصميم الموقع'عجيب غريب مريب نعم ومن هنا وجب على المصمم أن يضع نصوصا مؤقتة على التصميم ليظهر للعميل الشكل كاملاً،دور مولد النص العربى أن يوفر على المصمم عناء البحث عن نص بديل, لا علاقة له بالموضوع الذى يتحدث عنه التصميم فيظهر بشكل لا يليق, غريب عجيب تم توليد هذا النص العرب من موقعه لفه
                        حيث يمكنك أن تولد مثل هذا النص أو العديد من النصوص الأخرى إضافة إلى زيادة عدد الحروف التى يولدها التطبيق
                    </p>
                </div>

            </div>
        </v-container>

    </div>
</template>

<script>
    import featuredCardItem from "../lists/featured-card";

    import mainBanner from '../main-banner/main-banner'

    export default {
        name: "page-template",
        data(){
            return{
                title:'تمبلت اسكرين',
                subtitle:'',
                desc:'صفحات متفرقة: قابلة للاستخدام باي غرض\n' +
                    'زي فورم كدا لصفحة ونبقي نستخدمها لأغراض\n' +
                    'عرض الكتابات',
                image:  '',
                bg :  require('@/assets/images/books-group.png'),
                searchKeyword:'',

            }
        },
        components:{
            mainBanner,
        },
        methods:{
        },
        mounted(){
        },

    };
</script>

<style scoped>
.custom-main-banner{
    background-size: contain;
    background-position: left;
}
    p{
        line-height: 1.8;
    }
</style>
