<template>
    <div class="blogs sections page">
        <v-container grid-list-md text-center>
            <main-banner :bg-image="bg"
                         :banner-title="title"
                         :subtitle = "subtitle"
                         :desc="desc"
                         :image="image"
                         :apps-display="false"
                         :custom-size="true"
                         :display-class="true"
                         class="custom-main-banner"
            >
            </main-banner>
            <div class="blogs-body box-container">
                <v-layout row wrap v-if="books.length > 0">
                    <v-flex xs12 md4 v-for="item in books">
                        <featuredCardItem
                                :id="item.id"
                                :title="item.title"
                                :image="item.image"
                                :subtitle="item.write_name"
                                :desc="item.note"
                                :action="item.long_sound"
                                :is-library="item.is_library"
                                :data="item"
                                @clicked="gotoLink"
                        ></featuredCardItem>
                    </v-flex>

                </v-layout>
                <p v-if="books.length <= 0">
                    لا يوجد نتائج بحث
                </p>
                <!--<div class="text-xs-center">-->
                <!--<v-btn color="#C4C4C4" class="white&#45;&#45;text btn-more btn-width" depressed large>المزيد</v-btn>-->
                <!--</div>-->
            </div>
        </v-container>

    </div>
</template>

<script>
    import featuredCardItem from "../lists/featured-card";

    import mainBanner from '../main-banner/main-banner'

    export default {
        name: "search",
        data(){
            return{
                title:'نتائج البحث',
                subtitle:'',
                desc:'',
                image:  '',
                bg :  require('@/assets/images/books-group.png'),
                searchKeyword:'',

            }
        },
        components:{
            mainBanner,
            featuredCardItem
        },
        methods:{
            gotoLink(){
                // this.books = JSON.parse(localStorage.getItem("results"));
                // window.location.href('/search');

            }
        },
        mounted(){
        },
        computed:{
            books:{
                get: function () {
                    return  JSON.parse(localStorage.getItem("results"))
                },
                set: function () {
                    return  JSON.parse(localStorage.getItem("results"))
                }
            }

        }
    };
</script>

<style scoped>
    .custom-main-banner{
        background-size: contain;
        background-position: left;
    }
</style>
