<template>
    <div class="benefit-card">
        <div class="icon-bg">
            <img :src="benefit.icon" alt="" class="icon">
        </div>
        <p>
          {{benefit.text}}
        </p>
    </div>
</template>

<script>
    export default {
        name: "benefit-card",
        props:['benefit']
    };
</script>

<style scoped>

</style>
