<template>
    <v-card class="latest-blogs--item" flat :to="'/book/'+id">
        <v-img class="white--text"
               height="260px"
               :src="image">
        </v-img>
        <v-card-text>
            <p class="blog-date">
                <span>
                    {{writerName}}
                </span>
                <span>
                    {{date}}
                </span>
            </p>
            <h2>{{title}}</h2>
            <p class="desc" v-html="desc"></p>
        </v-card-text>
        <v-card-action>
            <v-btn color="#1E7145" flat large :to="'/book/'+id">إستكمل قراءة المدونة</v-btn>
        </v-card-action>
    </v-card>
</template>

<script>
    export default {
        name: "blog-card",
        props:['id' , 'image' , 'desc' , 'date' ,'title' , 'writerName' ]
    };
</script>

<style scoped>

</style>
