<template>
    <div>
        <v-card flat class="book-card">
            <!--<div v-if="$route.name !== 'favorites'">-->
                <!--<h1 class="book-card_title">   من أول الكتب التي تحدث عنها {{data.write_name}} !</h1>-->
                <!--<p v-html="data.description_group"></p>-->
            <!--</div>-->



            <v-layout row wrap>
                <v-flex xs12 md4>
                    <div class="image-box">
                        <v-img
                                class="white--text"
                                contain
                                height="350px"
                                :src="data.image">
                        </v-img>
                        <v-btn v-if="auth && data.is_favourite === 'true'"
                               icon color="error" flat class="favorite-icon"><i class="fa fa-heart"></i></v-btn>

                        <v-btn icon  class="secondary--text vip" v-if="(userInfo.vip === 'false' || userInfo.vip === '') && data.vip === 'true'"><i class="fa fa-lock"></i></v-btn>

                    </div>
                </v-flex>
                <v-flex xs12 md8>
                    <div class="mr-2">
                        <v-card-title>

                            <div>
                                <h2 class="card-title">{{data.title}}</h2>
                                <h4 class="card-sub-title">للكاتب {{data.write_name}}</h4>
                                <p class="card-desc" v-html="data.note"></p>

                                <ul class="v-list-icons">
                                    <li><i class="fa fa-clock-o icon"></i> {{data.long_sound}}  قراءة </li>
                                    <li v-if="data.is_sound"><i class="fa fa-headphones icon"></i> يوجد تسجيل صوتي </li>
                                </ul>

                            </div>
                        </v-card-title>
                        <v-card-actions>
                            <v-layout row wrap >
                                <v-flex xs12 md6 v-if="auth">
                                    <v-btn v-if="(userInfo.vip === 'false' || userInfo.vip === '') && data.vip === 'true'" to="/packages" color="#1E7145" large depressed round class="white--text" block>إقرأ الآن</v-btn>
                                    <popup v-else  :parts="data.parts" :id="data.id"></popup>

                                </v-flex>

                                <v-flex xs12 md6 v-if="!auth">
                                    <v-btn to="/login" color="#1E7145" large depressed round class="white--text" block>إقرأ الآن</v-btn>
                                </v-flex>

                                <v-flex xs12 md4>
                                    <v-btn  color="#1E7145" large round outline block  to="/login" v-if="!auth">
                                        <v-icon right class="fa fa-plus-circle"></v-icon>
                                        أضف للمكتبة
                                    </v-btn>

                                    <v-btn  color="#1E7145" large round outline block
                                            @click="addToLibrary(data.id)"
                                            v-if="auth && data.is_library === 'false'">
                                        <v-icon right class="fa fa-plus-circle"></v-icon>
                                        أضف للمكتبة
                                    </v-btn>

                                    <v-menu offset-y v-if="auth && data.is_library === 'true'">
                                        <template v-slot:activator="{ on }">
                                            <v-btn
                                                    color="primary"
                                                    flat icon
                                                    v-on="on"
                                                    v-if="auth"
                                            >
                                                <i class="fa fa-ellipsis-v fa-2x"></i>
                                            </v-btn>
                                        </template>
                                        <v-list>
                                            <v-list-tile @click="addToLibrary(data.id)">
                                                <v-list-tile-title>حذف من المكتبه</v-list-tile-title>
                                            </v-list-tile>
                                            <v-list-tile @click="AddToFavorite(data.id)">
                                                <v-list-tile-title v-if="data.is_favourite === 'false'">اضافه الى المفضله </v-list-tile-title>
                                                <v-list-tile-title v-if="data.is_favourite === 'true'">حذف من المفضله </v-list-tile-title>
                                            </v-list-tile>
                                        </v-list>
                                    </v-menu>
                                </v-flex>
                            </v-layout>
                        </v-card-actions>
                    </div>
                </v-flex>
            </v-layout>
        </v-card>
    </div>
</template>

<script>
    import popup from './popup.vue'
    export default {
        name: "book-card",
        props:['data'],
        data(){
            return{

            }
        },
        components:{
            popup
        },
        methods:{
            changeTheme(){
                this.theme = 'dark'
            },
            // deleteBook(data){
            //     this.$emit('removeBook' , data );
            // },
            // AddToFavorite(data){
            //     this.$emit('addBook' , data );
            // },
            addToLibrary(id){
                const headers = {
                    "Content-Type": "application/json",
                    'Authorization': "Bearer " + localStorage.getItem('userToken'),
                };
                let bookID = {book_id:id};
                this.$http.post('/web/libraries' ,bookID , {headers:headers}).then((response)=>{
                    this.$emit('clicked' , id);
                }).catch((error)=>{

                });
            },
            AddToFavorite(id){
                const headers = {
                    "Content-Type": "application/json",
                    'Authorization': "Bearer " + localStorage.getItem('userToken'),
                };
                let bookID = {book_id:id};
                this.$http.post('/web/favourites' ,bookID , {headers:headers}).then((response)=>{
                    this.$emit('clicked' , id)
                }).catch((error)=>{

                });
            }
        },
        computed:{
            userInfo() {
                return this.$store.state.user
            },
            auth(){
                if(this.$store.getters.isLoggedIn){
                    return true;
                }
                else{
                    return false;

                }
            }
        },
    };
</script>

<style scoped>

</style>
