<template>
    <div class="features-tabs--item" >
        <v-card :to="'/summaries/'+id">
        <v-btn icon color="#1d7044" class="secondary--text vip" v-if="(userInfo.vip === 'false' || userInfo.vip === '') &&  data.vip === 'true'"><i class="fa fa-lock"></i></v-btn>
            <v-img
                    :src="image"
                    :lazy-src="image"
                    aspect-ratio="1"
                    height="200px"
                    class="primary"
            >
                <template v-slot:placeholder>
                    <v-layout
                            fill-height
                            align-center
                            justify-center
                            ma-0
                    >
                        <v-progress-circular indeterminate color="grey lighten-5"></v-progress-circular>
                    </v-layout>
                </template>
            </v-img>
            <v-btn v-if="this.$store.getters.isLoggedIn && data.is_favourite === 'true'"
                   icon color="error" flat class="favorite-icon"><i class="fa fa-heart"></i></v-btn>
            <v-card-text>
                <h4 class="card-title" :title="title">{{title}}</h4>
                <h4 class="subtitle">{{subtitle}} </h4>
                <span class="desc" v-html="desc"></span>
            </v-card-text>
        </v-card>
        <v-card-actions class="justify-space-between">
            <p class="action"><i class="fa fa-clock-o icon"></i> {{action}}  قراءة</p>
            <v-btn icon color="#1E7145" class="white--text"
                   @click="addToLibrary(id)"
                   v-if="this.$store.getters.isLoggedIn && isLibrary === 'false' && $route.name !== 'search'" >
                <i class="fa fa-plus"></i></v-btn>

            <v-menu offset-y v-if="this.$store.getters.isLoggedIn && isLibrary === 'true' && $route.name !== 'search' ">
                <template v-slot:activator="{ on }">
                    <v-btn
                            color="primary"
                            flat icon
                            v-on="on"
                    >
                        <i class="fa fa-ellipsis-v fa-2x"></i>
                    </v-btn>
                </template>
                <v-list>
                    <v-list-tile @click="addToLibrary(id)">
                        <v-list-tile-title>حذف من المكتبه</v-list-tile-title>
                    </v-list-tile>
                    <v-list-tile @click="AddToFavorite(id)">
                        <v-list-tile-title v-if="data.is_favourite === 'false'">اضافه الى المفضله </v-list-tile-title>
                        <v-list-tile-title v-if="data.is_favourite === 'true'">حذف من المفضله </v-list-tile-title>
                    </v-list-tile>
                </v-list>
            </v-menu>

        </v-card-actions>

    </div>

</template>

<script>
    export default {
        name: "featured-card",
        props:['id','image' , 'title' , 'subtitle' , 'desc' , 'action', 'isLibrary' , 'data'],
        methods:{
            addToLibrary(id){
                const headers = {
                    "Content-Type": "application/json",
                    'Authorization': "Bearer " + localStorage.getItem('userToken'),
                };
                let bookID = {book_id:id};
                this.$http.post('/web/libraries' ,bookID , {headers:headers}).then((response)=>{
                    this.$emit('clicked' , id);
                }).catch((error)=>{

                });
            },
            AddToFavorite(id){
                const headers = {
                    "Content-Type": "application/json",
                    'Authorization': "Bearer " + localStorage.getItem('userToken'),
                };
                let bookID = {book_id:id};
                this.$http.post('/web/favourites' ,bookID , {headers:headers}).then((response)=>{
                    this.$emit('clicked' , id)
                }).catch((error)=>{

                });
            }
        },
        watch:{

        },
        computed: {
        userInfo() {
            return this.$store.state.user
        }
    }

    };
</script>

<style scoped>

</style>
