<template>
    <v-card class="package-card">
                <span class="bookmark-shape">
                        <span>خصم %50</span>
                </span>
        <v-card-title primary-title>
            <div>
                <h3 class="package-card--title">

                   <span> الباقة السنوية</span>

                </h3>
                <h3 class="package-card--number"><span>10.0</span> <span>جنية</span></h3>
                <p class="grey--text">120 <span class="font-weight-bold">جنية سنويا </span>ً</p>
                <ul class="package-card--list">
                    <li>يتيح لك خدمة الإحتفاظ بالمكتبة</li>
                    <li>يتيح لك سماع النصوص</li>
                    <li>يتيح لك إحتفاظ بعناوينك الخاصة</li>
                </ul>
            </div>
        </v-card-title>
    </v-card>
</template>

<script>
    export default {
        name: "package",
    };
</script>

<style scoped>

</style>
