<template>
    <div>
        <v-dialog v-model="dialog" fullscreen hide-overlay transition="dialog-bottom-transition">
            <template v-slot:activator="{ on }">
                <v-btn v-on="on" color="#1E7145" large depressed round class="white--text" block>إقرأ الآن</v-btn>
            </template>
            <v-card class="open-book" :class="{'dark': theme === 'dark'}">


                <v-toolbar  color="#F9F9F9" :dark="theme === 'dark'">
                    <v-btn icon color="#1E7145" flat  @click.stop="drawer = !drawer">
                        <i class="fa fa-list"></i>
                    </v-btn>
                    <v-toolbar-title class="hidden-sm-and-down">
                        <v-btn class="logo" :ripple="false" color="#1E7145" flat to="/">أخضر</v-btn>
                    </v-toolbar-title>
                    <v-spacer></v-spacer>
                    <v-spacer></v-spacer>
                    <v-btn fab flat class="lamp" @click="changeTheme(theme)">
                        <img :src="lampImage" alt="">
                    </v-btn>
                    <v-spacer></v-spacer>
                    <div class="font-size-box">
                        <h4>مقاس الكتابة</h4>
                        <v-slider :dark="theme === 'dark'"
                                  v-model="slider"
                                  :min="20"
                                  :max="50"
                        ></v-slider>
                        <span>{{slider-19}}</span>
                        <v-btn fab flat @click="dialog = false"><i class="fa fa-times"></i></v-btn>

                    </div>
                </v-toolbar>


                <v-container class="book-wrapper scroll-y">
                    <v-card class="box-container" v-for="(part , index) in parts" :id="'part'+index" v-if="activeTab === index">
                        <!--<h1 class="main-title text-xs-right">-->
                            <!--{{part.title}}-->
                        <!--</h1>-->
                        <v-progress-circular
                                :rotate="360"
                                :size="80"
                                :width="10"
                                :value="values"
                                color="primary"
                                class="percantage"
                        >
                            % {{ values }}
                        </v-progress-circular>
                        <p class="custom-para" :style="{ fontSize : slider + 'px' }"  v-html="part.text"></p>

                        <v-bottom-nav
                                :active.sync="bottomNav"
                                :value="true"
                                fixed :dark="theme === 'dark'">
                            <vue-audio v-if="part.sound" :key="index" :file="part.sound" :id="index"/>

                            <v-btn value="numbers" large
                                   flat class="primary--text font-weight-bold">
                                {{activeTab+1}} / {{parts.length}}
                            </v-btn>
                        </v-bottom-nav>

                    </v-card>

                </v-container>

                <v-container class="tabs-buttons">
                    <v-btn @click="activeTab--" :disabled="activeTab === 0" fab color="#1E7145" flat outline small><i class="fa fa-angle-right"></i></v-btn>
                    <v-btn @click="activeTab++" :disabled="activeTab === parts.length-1" fab color="#1E7145" flat outline small><i class="fa fa-angle-left"></i></v-btn>
                </v-container>


                <div class="side-menu">
                    <v-navigation-drawer v-model="drawer" absolute right temporary width="600px">
                        <v-list class="pt-0" dense :dark="theme === 'dark'">
                            <v-list-tile
                                    v-for="(part , index) in parts"
                                    :key="part.title"
                                    :class="{ 'primary--text': activeTab === index }"
                                    @click="selectTab(index)">
                                <v-list-tile-content>
                                    <v-list-tile-title>{{ part.title }}
                                        <v-btn class="mark-icon" color="#BEBEBE" flat fab small :class="{'primary':activeTab === index}">
                                            <i class="fa fa-check white--text" v-if="activeTab === index"></i>
                                        </v-btn>
                                    </v-list-tile-title>
                                </v-list-tile-content>
                            </v-list-tile>
                        </v-list>
                    </v-navigation-drawer>
                </div>


            </v-card>
        </v-dialog>

    </div>
</template>

<script>
    import VueAudio from 'vue-audio';
    let token = localStorage.getItem('userToken');
    const headers = {
        "Content-Type": "application/json",
        'Authorization': "Bearer " + token
    };
    export default {
        name: "popup",
        props:['parts' , 'id'],
        components: {
            'vue-audio': VueAudio
        },
        data(){
            return{
                interval: {},
                bottomNav: 'numbers',
                activeTab: 0,
                offsetTop:0,
                books:[
                    {
                        image:require('@/assets/images/item.png'),
                        title:'كون أصدقاء',
                        subtitle:'أندرو ماثيوز' ,
                        desc:'تأقلم مع الآخرين' ,
                        action:'11 دقائق قراءة'
                    }
                ],
                dialog: false,
                notifications: false,
                sound: true,
                widgets: false,
                slider: 20,
                checkbox:"",
                drawer: null,
                radios: 'radio-1',
                items: [
                    { title: 'العنوان الأول لأول صفحة في تلخيص الكتاب يتحدث عن أهمية هذا الكتاب لجميع الأعمار', icon: 'dashboard' },
                    { title: 'About', icon: 'question_answer' }
                ],
                lampImage:require('@/assets/images/lamp.png'),
                theme: 'light',
                file1: 'https://shershen08.github.io/vue-plugins-demo-static/dist/sample.mp3',
                file2: 'https://shershen08.github.io/vue-plugins-demo-static/dist/sample.mp3'
            }
        },
        methods:{
            changeTheme(color){

                if(color === 'dark'){
                    this.theme = 'light';
                }
                if(color === 'light'){
                    this.theme = 'dark';
                }

            },
            selectTab(index){
                this.drawer = !this.drawer;
                this.activeTab = index;
            },
            onScroll (e) {
                this.offsetTop = e.target.scrollTop
            },
            // readPercentage(){
            //     let bookID = {book_file_id: this.id};
            //
            //     let baseUrl = this.$http.post("/web/add_read_user" ,bookID, {headers: headers});
            //     baseUrl.then((response) => {
            //         console.log(response)
            //     }).catch((error) => {
            //         console.log(error)
            //     });
            // }

        },
        computed:{
            values(){
                return (((this.activeTab + 1 )* 100) / this.parts.length).toFixed(0)
            }
        },
        mounted(){
           setTimeout(function() {
               this.slider = 20;
           },2000)
        }

    };
</script>

<style scoped>

</style>
