<template>
    <v-card class="recommendation-item" flat :to="'list/'+id">
       <div class="ml-3">
           <div class="image">
               <img :src="icon" alt="" class="icon">
           </div>
       </div>
        <div>
            <h4 class="recommendation-item--title">{{title}}</h4>
            <p class="desc" v-html="desc"></p>
            <span class="book-num">" عدد الكتب " {{number}} </span>
        </div>
    </v-card>
</template>

<script>
    export default {
        name: "recommendation-item",
        props:['icon' , 'title' , 'desc' , 'number' , 'id']
    };
</script>

<style scoped>

</style>
