<template>
    <div>
        <v-card flat class="book-card" v-if="book">

            <v-layout row wrap>
                <v-flex xs12 md4>
                    <div class="image-box">
                        <v-img
                                :src="book.image"
                                :lazy-src="book.image"
                                aspect-ratio="1"
                                height="350px"
                                class="primary"
                                contain
                        >
                            <template v-slot:placeholder>
                                <v-layout
                                        fill-height
                                        align-center
                                        justify-center
                                        ma-0
                                >
                                    <v-progress-circular indeterminate color="white lighten-5"></v-progress-circular>
                                </v-layout>
                            </template>
                        </v-img>
                        <v-btn v-if="auth && book.is_favourite === 'true'"
                               icon color="error" flat class="favorite-icon"><i class="fa fa-heart"></i></v-btn>
                        <v-btn icon  class="secondary--text vip" v-if="(userInfo.vip === 'false' || userInfo.vip === '') && book.vip === 'true'"><i class="fa fa-lock"></i></v-btn>


                    </div>

                </v-flex>
                <v-flex xs12 md8>
                    <div class="mr-2">
                        <v-card-title>
                            <div>
                                <h2 class="card-title">{{book.title}}</h2>
                                <h4 class="card-sub-title">للكاتب {{book.write_name}}</h4>
                                <!--<p class="card-desc">٢٥٠ طريقة لتقولها و تعنيها ، توقف عن محاولة إرضاء الآخرين للأبد السيناريو</p>-->
                                <!--<p class="card-desc">-->
                                    <!--أهم النقاط :        أمرٌ مسلم به             لا تَلُمْ الاخرين-->
                                <!--</p>-->
                                <p class="card-desc" v-html="book.note"></p>

                                <ul class="v-list-icons">
                                    <li><i class="fa fa-clock-o icon"></i> {{book.long_sound}} دقائق قراءة </li>
                                    <li v-if="book.is_sound"><i class="fa fa-headphones icon"></i> يوجد تسجيل صوتي </li>
                                </ul>

                            </div>
                        </v-card-title>
                        <v-card-actions>
                            <v-layout row wrap >

                                <v-flex xs12 md6 v-if="auth">
                                    <v-btn v-if="(userInfo.vip === 'false' || userInfo.vip === '') && book.vip === 'true'" to="/packages" color="#1E7145" large depressed round class="white--text" block>إقرأ الآن</v-btn>
                                    <popup v-else  :parts="book.parts" :id="book.id"></popup>

                                </v-flex>

                                <v-flex xs12 md6 v-if="!auth">
                                    <v-btn to="/login" color="#1E7145" large depressed round class="white--text" block>إقرأ الآن</v-btn>
                                </v-flex>

                                <v-flex xs12 md4>
                                    <v-btn  color="#1E7145" large round outline block  to="/login" v-if="!auth">
                                             <v-icon right class="fa fa-plus-circle"></v-icon>
                                        أضف للمكتبة
                                    </v-btn>

                                    <v-btn  color="#1E7145" large round outline block
                                            @click="addToLibrary(book.id)"
                                            v-if="auth && book.is_library === 'false'">
                                        <v-icon right class="fa fa-plus-circle"></v-icon>
                                        أضف للمكتبة
                                    </v-btn>

                                    <v-menu offset-y v-if="auth && book.is_library === 'true'">
                                        <template v-slot:activator="{ on }">
                                            <v-btn
                                                    color="primary"
                                                    flat icon
                                                    v-on="on"
                                                    v-if="auth"
                                            >
                                                <i class="fa fa-ellipsis-v fa-2x"></i>
                                            </v-btn>
                                        </template>
                                        <v-list>
                                            <v-list-tile @click="addToLibrary(book.id)">
                                                <v-list-tile-title>حذف من المكتبه</v-list-tile-title>
                                            </v-list-tile>
                                            <v-list-tile @click="AddToFavorite(book.id)">
                                                <v-list-tile-title v-if="book.is_favourite === 'false'">اضافه الى المفضله </v-list-tile-title>
                                                <v-list-tile-title v-if="book.is_favourite === 'true'">حذف من المفضله </v-list-tile-title>
                                            </v-list-tile>
                                        </v-list>
                                    </v-menu>
                                </v-flex>
                            </v-layout>
                        </v-card-actions>
                    </div>
                </v-flex>
            </v-layout>
        </v-card>
        <div class="features-tabs">
            <v-tabs centered >
                <v-tab>تلخيص عن الكتاب</v-tab>
                <v-tab>نبذة عن الكاتب</v-tab>
                <v-tab>لمن هذا الكتاب</v-tab>

                <v-tab-item>
                    <p v-html="book.note"></p>
                </v-tab-item>
                <v-tab-item>
                    <p v-html="book.writer_note"></p>
                </v-tab-item>
                <v-tab-item>
                    <p v-html="book.age"></p>
                </v-tab-item>
            </v-tabs>
        </div>
    </div>
</template>

<script>
    import popup from './popup.vue'
    export default {
        name: "section-card",
        props:['book'],
        data(){
            return{

            }
        },
        components:{
            popup
        },
        methods:{
            addToLibrary(id){
                const headers = {
                    "Content-Type": "application/json",
                    'Authorization': "Bearer " + localStorage.getItem('userToken'),
                };
                let bookID = {book_id:id};
                this.$http.post('/web/libraries' ,bookID , {headers:headers}).then((response)=>{
                    this.$emit('clicked' , id);
                }).catch((error)=>{

                });
            },
            AddToFavorite(id){
                const headers = {
                    "Content-Type": "application/json",
                    'Authorization': "Bearer " + localStorage.getItem('userToken'),
                };
                let bookID = {book_id:id};
                this.$http.post('/web/favourites' ,bookID , {headers:headers}).then((response)=>{
                    this.$emit('clicked' , id)
                }).catch((error)=>{

                });
            }
        },
        computed:{
                userInfo() {
                    return this.$store.state.user
                },
            auth(){
                if(this.$store.getters.isLoggedIn){
                    return true;
                }
                else{
                    return false;

                }
            }
        },
    };
</script>

<style scoped lang="scss">
.wrapper{
    position: relative;
    /*.box-container{*/
        /*position: absolute;*/
        /**/
    /*}*/
}
</style>
