<template>
    <div class="contact-us section">
        <v-container>
            <v-layout row wrap>
                <v-flex md9>
                    <h1 class="main-title text-md-right pb-3">تواصل مع  <span class="primary--text"> أخضر</span></h1>
                    <p class="grey--text mb-4">
                        ومن هنا وجب على المصمم أن يضع نصوصا مؤقتة على التصميم ليظهر للعميل الشكل كاملاً،دور مولد النص العربى أن يوفر على المصمم عناء البحث عن نص بديل, لا علاقة له بالموضوع الذى يتحدث عنه التصميم فيظهر بشكل لا يليق إذا كنت تحتاج إلى عدد أكبر من الفقرات يتيح لك مولد النص العربى زيادة عدد الفقرات كما تريد. تم توليد هذا النص العرب من موقعه لفه دون مشكلة فلن يبدو وكأنه نص منسوخ، غير منظم، غير منسق، أو حتى غير مفهوم. لأنه مازال نصاً بديلاً ومؤقتاً مثال نص عربى كبير ولا يحوي أخطاء لغوية، مولد النص العربى مفيد لمصممي المواقع
                    </p>
                    <ValidationObserver ref="contactUs">
                        <v-form class="">
                            <ValidationProvider name="name" rules="required|min:3">
                                <v-text-field
                                        slot-scope="{errors,valid}"
                                        v-model="model.name"
                                        :error-messages="errors"
                                        :success="valid"
                                        required
                                        label="الاسم"
                                        outline class="input-round"
                                ></v-text-field>

                            </ValidationProvider>
                            <ValidationProvider name="email" rules="required|email">
                                <v-text-field
                                        slot-scope="{errors,valid}"
                                        v-model="model.email"
                                        :error-messages="errors"
                                        :success="valid"
                                        label="البريد الإلكتروني"
                                        outline class="input-round"
                                        required
                                ></v-text-field>
                            </ValidationProvider>
                            <ValidationProvider name="message" rules="required">
                                <v-textarea
                                        slot-scope="{errors,valid}"
                                        v-model="model.message"
                                        :error-messages="errors"
                                        :success="valid"
                                        label="أترك رسالتك"
                                        outline class="input-round"
                                        color="success"
                                ></v-textarea>
                            </ValidationProvider>

                            <v-btn color="primary" @click="submit"  large round >أرسال</v-btn>
                        </v-form>

                    </ValidationObserver>
                </v-flex>
            </v-layout>
            <v-snackbar
                    v-model="snackbar"
                    bottom
                    right
                    :color="color"
                    :timeout="timeout"

            >
                {{ message }}
                <v-btn
                        color="white"
                        flat
                        @click="snackbar = false"
                >
                    <i class="fa fa-times"></i>
                </v-btn>
            </v-snackbar>
        </v-container>

    </div>
</template>

<script>
    import {
        ValidationObserver,
        ValidationProvider,
        withValidation
    } from "vee-validate";
    let token = localStorage.getItem('userToken');
    const headers = {
        "Content-Type": "application/json",
        'Authorization': "Bearer " + token
    };
    export default {
        name: "contact-us-component",
        data(){
            return{
                model: {
                    name: "",
                    email: "",
                    message:'',
                },
                snackbar: false,
                y: 'bottom',
                x: 'right',
                mode: '',
                timeout: 600000,
                message: '',
                color:'',
            }
        },
        components: {
            ValidationProvider,
            ValidationObserver
        },
        methods: {
            async submit() {
                const result = await this.$refs.contactUs.validate();
                if(result){
                    let baseUrl ;
                    if (token){
                        baseUrl =  this.$http.post("/contact", this.model, {headers: headers})
                    }else{
                        baseUrl =  this.$http.post("/contact", this.model)
                    };
                        baseUrl.then(response => {
                            let data = response.data.data;
                            console.log(response.data.value)
                            let ref = this;
                            if(response.data.value === false){
                                ref.message = response.data.msg ;
                                ref.snackbar = true;
                                ref.color = "red"
                            }
                            if(response.data.value === true){
                                ref.message = response.data.data;
                                ref.snackbar = true;
                                ref.color = "#1E7145";
                                ref.model.name='';
                                ref.model.email='';
                                ref.model.message='';
                                this.$refs.contactUs.reset();


                            }

                        })
                        .catch(error => {
                            console.log(error)
                        });
                }
            },

            // login() {
            //     this.loading = true;
            //     let name = this.model.name;
            //     let password = this.model.password;
            //     this.$store
            //         .dispatch("login", this.model)
            //         .then((res) => {console.log(res); this.$router.push("/settings");})
            //         .catch(err => {
            //             this.loading = false;
            //             this.error = err;
            //             console.log('dfghj')
            //         });
            // },


        }
    };
</script>

<style scoped>

</style>
