.login{
  text-align: center;
  .custom-width{
    max-width: 420px;
    margin: 0 auto;
  }
  .v-text-field--outline>.v-input__control>.v-input__slot{
    min-height: 64px  ;
    margin-bottom: 0;
  }
  .v-btn{
    height: 64px;
  }
  .v-input--selection-controls{
    justify-content: center;
  }
  .error--text{
    .success--text{
      color: #ff5252 !important;
    }
  }
}
