<template>
    <blog-view-app></blog-view-app>
</template>

<script>
    import blogView from '../components/blog-page/blog-page'

    export default {
        name: "blog-view",
        components:{
            blogViewApp :  blogView
        }
    };
</script>

<style scoped>

</style>
