<template>
    <contact-us-view-app></contact-us-view-app>
</template>

<script>
    import contactUs from '../components/contact-us/contact-us-component'
    export default {
        name: "contact-us-view",
        components:{
            contactUsViewApp :contactUs
        }
    };
</script>

<style scoped>

</style>
