<template>
    <div>
        <experimental-view-app></experimental-view-app>
    </div>
</template>

<script>
    import experimental from '../components/experimental-component/experimental-component'
    export default {
        name: "experimental-view",
        components:{
            experimentalViewApp : experimental
        }
    };
</script>

<style scoped>

</style>
