<template>
    <favorites-view-app></favorites-view-app>
</template>

<script>
    import favorites from '../components/favorites-component/favorites-component'
    export default {
        name: "favorites-view",
        components:{
            favoritesViewApp:favorites
        }
    };
</script>

<style scoped>

</style>
