<template>
  <div>
    <home-page-app></home-page-app>

  </div>
</template>

<script>
  import homePage from '../components/home-page/home.vue'


  export default {
    components: {
      homePageApp : homePage,
    }
  }
</script>
