<template>
    <home-after-login-component-app></home-after-login-component-app>
</template>

<script>
    import homeAfterLoginComponent from '../components/home-page/home-after-login'
    export default {
        name: "home-after-login",
        components:{
            homeAfterLoginComponentApp : homeAfterLoginComponent
        }
    };
</script>

<style scoped>

</style>
