<template>
    <div>
        <latest-recommendations-view-app></latest-recommendations-view-app>
    </div>
</template>

<script>
    import latestRecommendationsView from '../components/latest-recommendations-page/latest-recommendations-page'

    export default {
        name: "latest-recommendations-views",
        components:{
            latestRecommendationsViewApp : latestRecommendationsView
        }
    };
</script>

<style scoped>

</style>
