<template>
    <div>
        <login-component-app></login-component-app>
    </div>
</template>

<script>
    import loginComponent from '../components/login/login'
    export default {
        name: "login",
        components:{
            loginComponentApp : loginComponent
        }
    };
</script>

<style scoped>

</style>
