<template>
    <newly-added-view-app></newly-added-view-app>
</template>

<script>
    import newlyAddedView from '../components/newly-added-page/newly-added'

    export default {
        name: "newly-added-view",
        components:{
            newlyAddedViewApp : newlyAddedView
        }
    };
</script>

<style scoped>

</style>
