<template>
    <div>
        <packages-page></packages-page>
    </div>
</template>

<script>
    import packagesPage from '../components/packages/packages'
    export default {
        name: "packages-view",
        components:{
            packagesPage
        }
    };
</script>

<style scoped>

</style>
