<template>
    <privacy-component></privacy-component>
</template>

<script>
    import privacyComponent from '../components/privacy/privacy'
    export default {
        name: "privacy-view",
        components:{
            privacyComponent
        }
    };
</script>

<style scoped>

</style>
