<template>
    <div>
        <register-component-app></register-component-app>
    </div>
</template>

<script>
    import registerComponent from '../components/login/register'
    export default {
        name: "register",
        components:{
            registerComponentApp : registerComponent
        }
    };
</script>

<style scoped>

</style>
