<template>
    <sections-view-app></sections-view-app>
</template>

<script>
    import sectionsView from '../components/sections-page/sections-page'

    export default {
        name: "sections-view",
        components:{
            sectionsViewApp : sectionsView
        }
    };
</script>

<style scoped>

</style>
