<template>
    <settings-view-app></settings-view-app>
</template>

<script>
    import settings from '../components/settings/settings-component'
    export default {
        name: "settings-view",
        components:{
            settingsViewApp : settings
        }
    };
</script>

<style scoped>

</style>
