.main-nav{
  .v-toolbar{
    padding: 0 50px !important;
    background-color: #f9f9f9;
    border-bottom: 1px solid rgba( #707070 , 0.1);
    box-shadow: none;
  }
  .logo{
    color: $main-color;
    font-size: 25px !important;
    font-weight: bold;
    &:hover:before{
      background-color: transparent;
    }
  }
  .nav-actions{
    min-width: 0 !important;
    padding: 0;
  }
  .v-btn{
    height: 65px;
    font-size: 16px;
  }
  .menu-btn{
    .fa-angle-down{
      font-size: 18px !important;
      margin-right: 10px;
    }
    &:after{
      content: '';
      position: absolute;
      left: 50%;
      bottom: -100%;
      width: 0;
      height: 0;
      border-left: 9px solid transparent;
      border-right: 9px solid transparent;
      border-bottom: 18px solid #fff;
      transform: translateX(-50%);
      transition: all 0.4s ease-in-out;
    }
    &.isActive:after{
      bottom: 0;
    }

  }

}
.v-menu{
  display: inline-flex;
  &__content--fixed{
    top: 64px !important;
    border-radius: 0;
    box-shadow: none;
    .v-list__tile__avatar{
      min-width: auto;
      margin-left: 10px;
    }
    .v-avatar {
      width: 26px !important;
      height: 26px !important;
      object-fit: contain;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        border-radius: 0;
      filter: grayscale(100%) brightness(135%) contrast(0)
      }
    }
    .v-list__tile{
      justify-content: center;
      margin-bottom: 15px;

      &:hover{
        color: $main-color;
      }
    }
    .v-list__tile__title{
      width: auto;
    }
  }

}


.search-modal{
  position: relative;
  .close-search-modal{
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-67%);
    margin-left: 20px;
  }
  .theme--light.v-text-field--solo > .v-input__control > .v-input__slot{
    margin: 0;
    box-shadow: none;
  }
  .v-text-field.v-text-field--enclosed .v-text-field__details{
    padding: 0;
    margin: 0;
  }
  .v-messages{
    min-height: 0;
  }
}
.user-dropdown{
  .v-list__tile{
    justify-content: flex-start !important;
  }
}


@media (max-width: 767px) {
  .main-nav .v-toolbar{
    padding: 0 3px !important;
  }
  .main-nav .v-btn.logo {
    height: 55px;}
  .navMobile{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .v-menu__content{
    .v-avatar{
      width: 30px !important;
      height: 30px !important;
      object-fit: contain !important;
      border-radius: 0 !important;
      img{
        width: 30px !important;
        height: 30px !important;
        object-fit: contain !important;
        border-radius: 0 !important;
        filter: grayscale(100%) brightness(135%) contrast(0)

      }
    }
  }
  .layout.wrap{
    flex-direction: column-reverse;
  }
  .main-banner__text{
    margin-top: 2rem !important;
    margin-bottom: 2rem !important;
  }
  .store-app img{
    height: 45px;
  }
}
