.features-tabs{

  .v-tabs{

    &__slider{
      background-color: $main-color !important;
    }
    &__item{
      font-size: 23px;
      font-weight: bold;
      &--active{
        color: $main-color;
      }
    }
  }
  &--item{
    margin-top: 1rem;
    color: $grayColor;
    border-radius: 10px;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    position: relative;
    .favorite-icon{
      position: absolute;
      right: 0;
      top: 0;
      pointer-events: none;
      z-index: 1;

    }
    .vip{
      position: absolute;
      left: 0;
      top: 0;
      pointer-events: none;
      z-index: 1;
    }
    .v-card{
      box-shadow: none;
    }
    .v-card__text{
      line-height: 2.2;
      color: $grayColor;
    }
    .v-card__actions{
      padding: 16px;
    }
    .card-title{
      color: $main-color;
      font-weight: 600;
      padding-bottom: 0;
      white-space: nowrap;
      width: 95%;
      overflow: hidden;
      text-overflow: ellipsis;

    }
    .action{
      display: flex;
      align-items: center;
      font-size: 14px;
      .icon{
        margin-left: 5px;
      }
    }
    .subtitle{
      font-size: 14px;
      color: $blackColor
    }
    .desc{
      height: 120px;
      overflow: hidden;
      display: block;
      p{
        font-family: $main-font !important;
        font-size: 17px;
        margin-bottom: 0;
      }
    }
  }
  .btn-more{

    margin: 4rem auto 0 auto;
  }
}

@media (min-width: 768px) {
  .features-tabs {

    .v-tabs {
      &__container {
        max-width: 600px;
        margin: 0 auto;
        margin-bottom: 2rem;
      }
    }
  }
}
@media (max-width: 767px) {
  .features-tabs {

    .v-tabs {
      &__item {
        font-size: 14px;
        font-weight: 100;
      }
    }
  }
}

