.book-card{
  margin: -2rem;
  line-height: 1.9;
  font-size: 19px;
  border-bottom: 1px solid rgba(#707070 , 0.12) !important;
  padding: 3rem 2rem;
  .image-box{
    position: relative;
  }
  .favorite-icon{
    position: absolute;
    right: 0;
    top: 0;
    pointer-events: none;
  }
  .vip{
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
    margin-top: 10px;
    margin-left: 15px;
  }


  &_title{
    font-size: 30px;
  }
  .v-image{
    background-color: $main-color;
    border-radius: 28px;
    position: relative;
  }
  .card{
    &-title{
      font-size: 35px;

    }
    &-sub-title{
      font-size: 20px;
      font-weight: 100;
      margin-bottom: 10px;
    }
    &-desc{
      margin-bottom: 0;
      font-size: 19px;
    }
  }
  .v-card{
    &__actions{
      padding: 0;
      .flex{
        padding: 15px;
      }
    }
  }
  .v-list-icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3rem;
    li{
      list-style: none;
      line-height: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #616161;
      .icon{
        color: $main-color;
        margin-left: 12px;
      }
    }
  }
  .card-sub-title + .card-desc{
    max-height: 167px;
    overflow: hidden;
  }
}

.v-dialog.v-dialog--fullscreen{
  border-radius: 0;
}
.open-book{
  background-color: #F9F9F9 !important;
  .logo{
    font-size: 25px;
    font-weight: bold;
  }
  .book-wrapper{
    margin-top: 1rem;
    max-height: 70vh;
    padding-top: 0;
  }
  .tabs-buttons{
    padding: 0;
    text-align: left;
  }
  .main-title{
    border-bottom: 1px solid #ddd;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    font-size: 35px;
    line-height: 1.7;
  }
  .box-container{
    color: #616161;
    padding: 2rem 3rem 5rem 3rem;
    border-radius: 0;

    p{
      line-height: 2;
      display: block;
    }
  }
  .v-toolbar{
    color: $main-color;
    box-shadow: none;
    border-bottom: 1px solid #ddd !important;

    &__content{
      height: 90px !important;
    }
  }
  .v-slider{
    margin: 0 10px;
  }
  .font-size-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .v-messages{
      min-height: 0;
    }
    .v-input__slot{
      margin-bottom: 0;
    }
  }
  .lamp{
    img{
      width: 50px;
      height: 50px;
      object-fit: contain;
    }
  }
  .side-menu{
    .v-navigation-drawer{
      background-color: #F9F9F9 !important;
      padding-top: 1rem;
      .v-list__tile__title{
        position: relative;
        font-size: 22px;
        padding-left: 53px;
      }
      .v-list__tile__sub-title, .v-list__tile__title {
        white-space: pre-wrap;
        overflow: visible;
        text-overflow: initial;
        height: auto;
        margin-top: 20px;
        line-height: 1.1;
      }
      .v-list--dense .v-list__tile:not(.v-list__tile--avatar) {
        height: auto;
      }
    }
    .mark-icon{
      position: absolute !important;
      left: 0;
      top: 50%;
      margin-top: -26px;
      background-color: #BEBEBE;
      transform: scale(0.8);
    }
  }
  &.dark {
    color: #fff;
    background-color: #000000 !important;
    .box-container{
      color: #fff;
      background-color: #191919 !important;
      .main-title{
        color: #fff;
      }
    }
    .v-toolbar{
      color: $main-color;
      box-shadow: none;
      border-bottom: 1px solid #ddd !important;
      background-color: #000 !important;
    }
    .side-menu{
      .v-navigation-drawer{
        color: #fff;
        background-color: #000 !important;}

    }
  }

}

@media (max-height: 768px) {
  .open-book .book-wrapper{
    max-height: 63vh;
  }
}
@media (max-width: 767px) {
  .book-card{
    padding: 1rem;
    margin: 0 -2rem 0 -2rem;
    .card-title {
      font-size: 23px;
    }
    .v-list-icons{
      margin-top: 3rem;
      flex-direction: column;
      justify-content: flex-start;
      text-align: right;
      align-items: flex-start;
    }

  }
  .single-section{
    .v-tabs__container{
      transform: none !important;
      flex-direction: column;
      height: auto;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
    .v-tabs__container--centered .v-tabs__slider-wrapper+.v-tabs__div,
    .v-tabs__container--centered>.v-tabs__div:last-child{
      margin-left: auto;
      margin-right: auto;
    }
    .v-tabs__slider-wrapper{
      display: none;
    }
  }
}
