.package-card{
  border-radius: 28px;
  font-size: 18px;
  padding: 2rem;
  overflow: hidden;
  &.small{
    transform: scale(0.9);
  }
  &--number{
    > span{
      &:first-child{
        font-size: 80px;
      }
    }
  }
  &--list{
    color: #2D2D2D;
    text-align: right;
    min-height: 120px;
    margin-bottom: 1.5rem;
    >li{
      margin-bottom: 15px;
    }
  }
  &--title{
    position: relative;
    margin-top: 15px;
  }
  .width-100{
  }
  p{
    margin-top: 10px;
    margin-bottom: 30px;
  }
  .v-card{
    &__title{
      text-align: center;
      justify-content: center;
    }
  }
}


.bookmark-shape {
  border: 30px solid $main-color;
  border-right: 0;
  border-left: 20px solid transparent;
  width: 111px;
  height: 0;
  position: absolute;
  right: 0;
  //margin-right: -55px;
  top: 0;
  margin-top: 55px;
  border-radius: 0 !important;
  > span{
    border-radius: 0 !important;

    text-align: center;
     color: #fff;
     text-decoration: none;
    height: 34px;
    margin-top: -15px;
    display: block;
    font-weight: 100;
    font-size: 16px;
   }
}
