.settings{
  padding-bottom: 2rem;
  &-box{
    max-width: 500px;
    &.width-auto{
      max-width: 100%;
    }
    &-header{
      margin-top: 2rem;
      margin-bottom: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .fa.fa-2x{
        font-size: 30px !important;
        color: #828282;
      }
    }
  }
  .settings-title{
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 20px;
  }
  .content{
    p{
      font-size: 20px;
      line-height: 1.5;
      color: #616161;
    }
  }
  .switch{
    transform: scale(1.3);
  }

}

.application--is-rtl .v-input--switch.v-input--is-dirty .v-input--switch__thumb{
  border: 1px solid $main-color !important;
  background-color: #fff !important;
}
.v-input--switch__track{
  opacity: 1;
}
