<template>
    <div class="blogs sections page">
        <v-container grid-list-md text-center>
            <main-banner :bg-image="bg"
                         :banner-title="title"
                         :subtitle = "subtitle"
                         :desc="desc"
                         :image="image"
                         :apps-display="false"
                         :custom-size="true"
                         :display-class="true"
                         class="custom-main-banner"
            >
                <div slot="searchForm" >
                    <v-form  class="search-modal" @submit.prevent="searchBlogs">
                        <v-text-field
                                label="إبحث بالعنوان أو إسم الكاتب"
                                prepend-inner-icon="search"
                                v-model="searchKeyword"
                                placeholder=""
                        ></v-text-field>
                        <v-btn @click="clear" icon class="close-search-modal"><i class="fa fa-times"></i></v-btn>
                    </v-form>
                </div>
            </main-banner>
            <div class="blogs-body box-container">
                <v-layout row wrap>
                    <v-flex xs12>

                    </v-flex>
                    <v-flex xs12 md6 v-for="blog in blogs">
                        <blog-card
                                :id="blog.id"
                                :title="blog.title"
                                :image="blog.image"
                                :desc="blog.description"
                                :date="blog.created_at"
                                :writer-name="blog.write_name"
                        ></blog-card>
                    </v-flex>
                </v-layout>
                <!--<div class="text-xs-center">-->
                    <!--<v-btn color="#C4C4C4" class="white&#45;&#45;text btn-more btn-width" depressed large>المزيد</v-btn>-->
                <!--</div>-->
            </div>
        </v-container>
        <div class="text-xs-center mt-5 mb-5">
            <v-pagination
                    v-model="page"
                    :length="lastPage"
                    circle
                    @input = "getBlogs"
                    :total-visible="7"
            ></v-pagination>
        </div>
    </div>
</template>

<script>
    import mainBanner from '../main-banner/main-banner'
    import blogCard from '../lists/blog-card'

    let token = localStorage.getItem('userToken');
    const headers = {
        "Content-Type": "application/json",
        'Authorization': "Bearer " + token
    };
    export default {
        name: "blog-page",
        data(){
            return{
                page:1,
                lastPage:null,
                title:'مدونة أخضر',
                subtitle:'',
                desc:'دمج التكنولوجيا والمادة الثقافية\n' +
                    'لتحقيق متعة المشاهدة وفائدة الكتاب فى الوقت ذاته',
                image:  require('@/assets/images/blogging-icon.png'),
                bg :  require('@/assets/images/bg.svg'),
                blogs:[],
                searchKeyword:''

            }
        },
        components:{
            mainBanner,
            blogCard
        },
        methods:{
            clear(){
                this.searchKeyword = '';
                this.getBlogs();
            },
            getBlogs(){

                let baseUrl ;
                if (token){
                    baseUrl = this.$http.get("/web/blog?page=" + this.page , {headers: headers})
                }else{
                    baseUrl = this.$http.get("/web/blog?page=" + this.page)
                };
                baseUrl.then((response)=>{
                    this.blogs = response.data.data;
                    this.lastPage = response.data.meta.last_page;
                }).catch(()=>{

                });
            },
            searchBlogs(){
                let baseUrl ;
                if (token){
                    baseUrl = this.$http.post("/web/search" , {title:this.searchKeyword} ,  {headers: headers} )
                }else{
                    baseUrl = this.$http.post("/web/search" , {title:this.searchKeyword})
                };
                baseUrl.then((response)=>{
                    this.blogs = response.data.data;
                    console.log(response)
                    this.lastPage = response.data.meta.last_page;

                }).catch((error)=>{
                    console.log(error)
                });

            }

        },
        mounted(){
            this.getBlogs();
        },
        computed: {
            filteredBlogs() {
                return this.blogs.filter((blog) => {
                    return blog.title.toLowerCase().includes(this.searchKeyword.toLowerCase()) ||
                        blog.write_name.toLowerCase().includes(this.searchKeyword.toLowerCase());
                });
            }
        }
    };
</script>

<style scoped>

</style>
