<template>
    <div class="blogs sections page">
        <v-container grid-list-md text-center>
                <main-banner :bg-image="bg"
                         :banner-title="blog.title"
                         :subtitle = "subtitle"
                         :desc="blog.write_name"
                         :image="blog.image"
                         :apps-display="false"
                         :custom-size="true"
                         :display-class="true"
                         class="custom-main-banner"
            >
            </main-banner>
            <div class="blogs-body box-container single-blog">
                                        <vue-audio :file="blog.sound" />


                <v-expansion-panel>
                        <v-expansion-panel-content class="text-md-right">
                            <template v-slot:actions>
                                <v-icon color="primary"></v-icon>
                            </template>
                            <template v-slot:header>
                               <div>
                                   <div><v-icon color="primary" class="fa fa-list fa-2x"></v-icon></div>
                                   <li v-for="(header , index) in blog.headers" v-if="index <= 0"><v-btn  :href="'#'+header.id" flat color="primary">{{header.header}}</v-btn></li>
                               </div>
                                <!--<v-btn flat color="#1E7145" href="#lol"><i class="fa fa-play-circle fa-2x"></i></v-btn>-->
                            </template>
                            <v-card>
                                    <ul class="list-links">
                                        <li v-for="(header , index) in blog.headers" v-if="index > 0"><v-btn  :href="'#'+header.id" flat >{{header.header}}</v-btn></li>
                                    </ul>
                            </v-card>
                        </v-expansion-panel-content>
                    </v-expansion-panel>

                <div  class="mt-4 blog-content">
                    <p v-html="blog.note"></p>

                </div>
            </div>

            <div class="pt-5 pb-5">
                <h2 class="main-title text-xs-right mb-0">كتب أُضيفت حديثا في   <span class="primary--text">أخضر</span></h2>
                <loader-component v-if="loader"></loader-component>
                <v-layout row wrap>
                    <v-flex xs12 md4 v-for="(item , index) in books" v-if="index <= 2 ">
                        <featuredCardItem
                                :id="item.id"
                                :title="item.title"
                                :image="item.image"
                                :subtitle="item.write_name"
                                :desc="item.note"
                                :action="item.long_sound"
                                :data="item"
                        ></featuredCardItem>
                    </v-flex>
                </v-layout>
                <div class="text-xs-center mt-5">
                    <v-btn color="#C4C4C4" class="white--text btn-more btn-width" to="/books/new" depressed large>المزيد</v-btn>
                </div>
            </div>

        </v-container>

    </div>
</template>

<script>
    import mainBanner from '../main-banner/main-banner'
    import sectionCard from '../lists/section-card'
    import featuredCardItem from '../lists/featured-card'

    import VueAudio from 'vue-audio';
    let token = localStorage.getItem('userToken');
    const headers = {
        "Content-Type": "application/json",
        'Authorization': "Bearer " + token
    };
    export default {
        name: "single-blog",
        data(){
            return{
                title:'عنوان المقالة في المدونة',
                subtitle:'',
                desc: 'نبذة عن المقالة تشرح عن ماذا تتحدث المقالة وموجهه\n' +
                    'لمن من الناس ونوعها من حيث السياسة او الاقتصاد\n' +
                    'او التنولوجيا او أي حاجه تانيه',
                image:  require('@/assets/images/article.png'),
                bg :  require('@/assets/images/bg.svg'),
                blog:{},
                books:[],
                loader:false
            }
        },
        components:{
            mainBanner,
            sectionCard,
            featuredCardItem,
            'vue-audio': VueAudio

        },
        methods:{
            getSingleBlog(){
                let baseUrl ;
                if (token){
                    baseUrl = this.$http.get('/web/single_blog/'+this.$route.params.id , {headers: headers})
                }else{
                    baseUrl = this.$http.get('/web/single_blog/'+this.$route.params.id)
                };
                baseUrl.then((response)=>{
                    this.blog = response.data.data
                    this.$router.replace({query: {name: this.blog.title}});

                }).catch(()=>{

                })
            },
            getNewBooks() {
                this.loader = true;
                let baseUrl ;
                if (token){
                    baseUrl = this.$http.get("/web/books" , {headers: headers})
                }else{
                    baseUrl = this.$http.get("/web/books")
                };
                baseUrl.then((response) => {
                    this.loader = false;
                    this.books = response.data.data;
                }).catch((error) => {

                });
            },

        },
        mounted(){
            this.getSingleBlog();
            this.getNewBooks();

        }
    };
</script>

<style scoped>
    strong{
        color: red;
    }
</style>
