.main-banner{
  height: 600px;
  background-position: center;
  background-size: cover;
  background-color: $main-color;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  &__text{
    max-width: 650px;
    margin-top: 8rem;
    line-height: 1.8;
    .banner-title{
      font-size: 40px;
    }
    .subtitle{
      font-size: 30px;
    }
    .desc{
      font-size: 25px;
      font-weight: 600;
    }
  }
  &__image{
    height: 600px;
    -o-object-fit: contain;
    object-fit: contain;
    margin: 0 auto;
    margin-bottom: -10rem;
  }
  .custom-banner-image{
    width: 335px;
    height: 260px;
    margin: 0 auto;
  }
  &__social{
    position: absolute;
    left: 0;
    height: 100%;
    width: 150px;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    > .v-btn{
      color: #fff;
      background-color: transparent !important;
      .fa{
        font-size: 30px !important;
      }
    }
  }
  &.recommendations{
    background-color: #fff;
    color: $main-color;
    .main-banner__text{
      margin-top: 0;
      .desc{
        //font-size: 21px;
        color: $grayColor;
      }
    }
    .main-banner__social{
      >.v-btn{
        color: $main-color;
      }
    }

  }
  &.custom-main-banner{
    .main-banner__social{
      margin-left: -150px;
    }
  }
  &.main-banner-with-btn{
    .flex.md7{
      width: 100%;
      max-width: 100%;
      flex-basis: 100%;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
    .main-banner__text{
      margin-top: 8rem;
      max-width: 100%;
      .banner-title{
        font-weight: 500;
      }
      .subtitle , .desc {
        font-weight: 300;
        font-size: 25px ;
      }

    }
    .btn-width{
      margin: 2rem 0;
    }
  }
}


@media (max-width: 768px) {
  .main-banner{
    height: auto;
    padding-top: 80px;
    .layout.wrap{
      flex-direction: column-reverse;

    }

    &__text {
      .banner-title{
        font-size: 34px;
      }
      .subtitle{
        font-size: 26px;
      }
    }
    &__image {
      height: 315px;
      margin-bottom: 0;
      margin-left: -31px;

    }
    &__social{
      width: 100%;
      top: 0;
      flex-direction: row;
      height: 111px;
      display: none;
    }
    .custom-banner-image {
      width: 100%;
      height: 172px;
      margin-top: 1rem;
      margin-bottom: 2rem;
    }
  }
}
