.categories{
  .category-item{
    display: flex !important;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 170px;
    margin: 1rem auto;
    color: $main-color;
    border-radius: 20px;
    transition: all 0.4s ease-in-out;
    cursor: pointer;
    .icon{
      width: 60px;
      height: 75px;
      object-position: center;
      object-fit: contain;
      filter: grayscale(100%) brightness(135%) contrast(0);

    }
    &--title{
      margin-top: 1.5rem;
      font-size: 16px;
    }
    &:hover{
      color: #fff;
      background-color: $main-color;
      .icon{
        filter: brightness(0) invert(1);

      }
    }
  }
  .category-caption{
    text-align: center;
    max-width: 800px;
    margin: 2rem auto;
    margin-top: 7rem;

    p{
      font-size: 18px;
    }
    .btn-width{
      border-radius: 10px;
      margin: 4rem auto;
    }
  }

}

.slick-slide {
  margin: 0 10px;
}
.slick-list{
  margin: 0 -10px !important;

}
.slider{
  .slick-prev{
    position: absolute;
    left: 0;
    top: 100%;
    margin-top: 2rem;
  }
  .slick-next{
    position: absolute;
    left: 0;
    top: 100%;
    right: auto;
    margin-left: 2rem;
    margin-top: 2rem;
  }
  .slick-prev:before{
    opacity: 1;
    color: #000;
    content: "\f111" !important;
    font: normal normal normal 28px/1 "LineAwesome" !important;
  }
  .slick-next:before{
    opacity: 1;
    color: #000;
    content: "\f112" !important;
    font: normal normal normal 28px/1 "LineAwesome" !important;
  }
}
.slider-v2{
  .slick-prev{
    position: absolute;
    left: 0;
    z-index: 1;
  }
  .slick-next{
    position: absolute;
    right: 0;
    z-index: 1;
  }
  .slick-prev:before{
    opacity: 1;
    color: #000;
    content: "\f111" !important;
    font: normal normal normal 28px/1 "LineAwesome" !important;
  }
  .slick-next:before{
    opacity: 1;
    color: #000;
    content: "\f112" !important;
    font: normal normal normal 28px/1 "LineAwesome" !important;
  }
}
.three-categories{
  .btn-more{
    margin-top: 4rem;
    margin-bottom: 2rem;
    border-radius: 10px;
  }
}
