.three-demos{
  text-align: center;
  .item{
    .v-card__title{
      max-width: 250px;
      margin: 0 auto;
    }
  }
  .store-app{
    display: flex;
    justify-content: center;
    align-items: center;
    img{
      width: 160px;
      height: 80px;
      object-fit: contain;
      margin: 5px;
    }
  }
}

@media (max-width: 767px) {
  .three-demos{
    .v-responsive.v-image{
      height: 415px !important;
    }
  }
}
