<template>
    <div class="experimental off-white">
        <v-container>
            <div class="box-container">
                <main-banner bg-image=""
                             :banner-title="title"
                             :subtitle = "subtitle"
                             :desc="desc"
                             :image="image"
                             :apps-display="false"
                             :custom-size="true"
                             :display-class="true"
                             class="custom-main-banner"
                ></main-banner>
                <hr>
                <div class="pb-5">
                    <ValidationObserver ref="membership">
                        <v-container grid-list-md text-center>
                            <v-layout row wrap>
                                <v-flex xs12 md6>
                                    <div>
                                        <h2>تفاصيل الدفع</h2>
                                        <p>الدفع عن طريق البطاقة الإئتمانية</p>
                                        <v-form>
                                            <ValidationProvider name="name" rules="required|min:3">
                                                <v-text-field
                                                        label="إسم صاحب البطاقة"
                                                        outline class="input-round"
                                                        color="success"
                                                        v-model="model.name"
                                                ></v-text-field>
                                            </ValidationProvider>
                                            <ValidationProvider name="number" rules="required">
                                                <v-text-field
                                                        label="رقم البطافة"
                                                        outline class="input-round"
                                                        color="success"
                                                        v-model="model.number"
                                                ></v-text-field>

                                            </ValidationProvider>

                                            <v-layout row warp>
                                                <v-flex xs12 md6>
                                                    <ValidationProvider name="expired" rules="required">
                                                        <v-text-field
                                                                label="تاريخ الإنتهاء"
                                                                outline class="input-round"
                                                                color="success"
                                                                v-model="model.expired"
                                                        ></v-text-field>

                                                    </ValidationProvider>
                                                </v-flex>
                                                <v-flex xs12 md6>
                                                    <ValidationProvider name="password" rules="required">
                                                        <v-text-field
                                                                label="الرقم السري"

                                                                outline class="input-round"
                                                                color="success"
                                                                v-model="model.password"
                                                        ></v-text-field>
                                                    </ValidationProvider>
                                                </v-flex>
                                            </v-layout>
                                            <p class="grey--text mt-2 mb-4"> إشتراكك معنا يعني أنك موافق على <v-btn to="/privacy-policy" flat class="primary--text px-0">الشروط والأحكام</v-btn></p>
                                            <v-btn color="primary" round  class="btn-width" large>إبدأ الفترة التجريبية الآن</v-btn>
                                        </v-form>
                                    </div>
                                </v-flex>
                                <v-flex></v-flex>
                                <v-flex xs12 md4>
                                    <package-card></package-card>
                                </v-flex>
                            </v-layout>
                        </v-container>

                    </ValidationObserver>
                </div>
            </div>
        </v-container>
    </div>
</template>

<script>
    import mainBanner from '../main-banner/main-banner'
    import packageCard from '../lists/package'
    import {
        ValidationObserver,
        ValidationProvider,
        withValidation
    } from "vee-validate";

    export default {
        name: "experimental-component",
        data(){
            return{
                title:'لديك 7 أيام مجاناً إحصل عليهم الآن',
                subtitle:'',
                desc: 'وإذا قمت بإيقاف الإشتراك قبل الإنتهاء من الفترة التجريبية\n' +
                    'ومدتها 7 أيام لن يتم خصم مبلغ الإشتراك من حسابك',
                image:  require('@/assets/images/card.png'),
                bg :  require('@/assets/images/bg.svg'),
                model: {
                    name: "",
                    password: "",
                    number:'',
                    expired:''
                },
                snackbar: false,
                y: 'bottom',
                x: 'right',
                mode: '',
                timeout: 600000,
                message: '',
                color:'',

            }
        },
        components:{
            mainBanner,
            packageCard,
            ValidationProvider,
            ValidationObserver
        },
        methods: {

        }


    };
</script>

<style scoped>
.box-container{
    border-radius: 0;
}
</style>
