.follow-us-youtube{
  .content{
    margin-left: 2rem;
  }
  .main-title{
    color: $main-color;
    text-align: right;
    font-size: 25px;
    margin-bottom: 15px;
    padding-bottom: 0;

    > strong{
      font-size: 35px;
    }
  }
  .subtitle{
    margin-top: 2rem;
    margin-bottom: 2.5rem;
    font-weight: bold;
    font-size: 22px;
  }
}

@media (max-width: 767px) {
  .follow-us-youtube{
    .layout.wrap{
      flex-direction: column-reverse;

    }

  }
}
