<template>
    <div class="section testimonial">
        <v-container>
            <h2 class="main-title">،،</h2>
            <slick ref="slick" :options="slickOptions" class="slider-v2"
                   v-if="opinions.length > 0">
                <v-card class="testimonial-item" v-for="opinion in opinions" flat>
                    <div>
                        <p class="desc" v-html="opinion.description"></p>
                    </div>
                    <div class="user">
                        <img :src="opinion.image" alt="" class="image">
                        <div>
                            <h4 class="user-name">{{opinion.title}}</h4>
                            <!--<v-rating background-color="grey"-->
                                      <!--color="#FFEE00"-->
                                      <!--small dense v-model="opinion.rate">-->
                                <!--<template v-slot:item="props">-->
                                    <!--<v-icon-->
                                            <!--:color="props.isFilled ? genColor(props.index) : 'grey lighten-3'"-->
                                            <!--large>-->
                                        <!--{{ props.isFilled ? 'fa fa-star' : 'fa fa-star' }}-->
                                    <!--</v-icon>-->
                                <!--</template>-->
                            <!--</v-rating>-->
                            <v-rating class="disabled"
                                    v-model.number="opinion.rate"
                                    background-color="grey lighten-3"
                                    color="#FFEE00"
                            ></v-rating>
                        </div>
                    </div>
                </v-card>
            </slick>
        </v-container>
    </div>
</template>

<script>
    import Slick from 'vue-slick';

    export default {
        name: "testimonial",
        components: {
            Slick
        },
        data(){
            return{
                slickOptions: {
                    // infinite: true,
                    rtl: true,
                    // centerMode: false,
                    // centerPadding: '30%',
                    slidesToScroll:1,
                    slidesToShow: 1,
                    responsive: [
                        {
                            breakpoint: 1440 ,
                            settings: {
                                slidesToShow: 1,
                                centerPadding: '0',
                                centerMode: false,
                                arrows:true,
                            }
                        },
                        {
                            breakpoint: 992 ,
                            settings: {
                                slidesToShow: 1,
                                dots:true,
                                arrows:true,
                                centerPadding: '0',
                            }
                        },
                        {
                            breakpoint: 768 ,
                            settings: {
                                slidesToShow: 1,
                                centerMode: true,
                                dots:true,
                                arrows:false,
                                centerPadding: '0',
                            }
                        }]
                },
                opinions:[],
                colors: ['green', 'purple', 'orange', 'indigo', 'red'],
                rating: 4.5
            }
        },
        methods:{
            genColor (i) {
                return this.colors[i]
            },
            getOpinions(){
                this.$http.get('/web/opinions').then((response)=>{
                    this.opinions = response.data.data
                }).catch(()=>{

                });
            },
        },
        mounted(){
            this.getOpinions();
        }
    };
</script>

<style scoped>

</style>
