<template>
    <div class="section login off-white">
        <v-container>
            <h2 class="main-title"> سجل دخولك في <span class="primary--text">أخضر</span></h2>
            <ValidationObserver ref="login">
                <v-form class="custom-width">
                    <ValidationProvider name="name" rules="required|min:3">
                        <v-text-field
                                slot-scope="{errors,valid}"
                                v-model="model.name"
                                :error-messages="errors"
                                :success="valid"
                                required
                                label="إسم المستخدم"
                                outline class="input-round"
                        ></v-text-field>
                    </ValidationProvider>
                    <ValidationProvider name="password" rules="required|min:6">
                        <v-text-field
                                slot-scope="{errors,valid}"
                                v-model="model.password"
                                :error-messages="errors"
                                :success="valid"
                                label="كلمة المرور"
                                outline class="input-round"
                                required
                                type="password"
                        ></v-text-field>
                    </ValidationProvider>

                    <v-btn color="#1E7145" large round class="white--text"  @click="login"  block :loading="loading">تسجيل دخول</v-btn>
                </v-form>
            </ValidationObserver>
            <v-snackbar
                    v-model="snackbar"
                    :bottom="y === 'bottom'"
                    :left="x === 'left'"
                    :multi-line="mode === 'multi-line'"
                    :right="x === 'right'"
                    :timeout="timeout"
                    :top="y === 'top'"
                    :vertical="mode === 'vertical'"
                    :color="color"
            >
                {{ message }}
                <v-btn
                        color="white"
                        flat
                        @click="snackbar = false"
                >
                    <i class="fa fa-times"></i>
                </v-btn>
            </v-snackbar>
            <v-btn color="#949494" flat round link :ripple="false" large class="mt-4 mb-4">هل نسيت كلمة المرور ؟</v-btn>
            <br>
            <v-btn color="#1E7145" outline text round large class="btn-min-width border-bold" to="/register">تسجيل جديد</v-btn>
        </v-container>
    </div>
</template>

<script>
    import {
        ValidationObserver,
        ValidationProvider,
        withValidation
    } from "vee-validate";

    export default {
        name: "login-component",
        data: () => ({
            loading: false,
            error: "",
            model: {
                name: "",
                password: "",
                serial_number:'123',
                device_token:'125'
            },
            snackbar: false,
            y: 'bottom',
            x: 'right',
            mode: '',
            timeout: 600000,
            message: '',
            color:'',
        }),
        components: {
            ValidationProvider,
            ValidationObserver
        },
        methods: {
            async login() {
                const result = await this.$refs.login.validate();
                if(result){
                    this.loading = true;
                    const store = this.$store;
                    this.$http
                        .post("/login", this.model)
                        .then(response => {
                            let data = response.data.data;
                            let ref = this;
                            if(response.data.value === false){
                                ref.message = response.data.msg;
                                ref.snackbar = true;
                                ref.color = "red";
                                ref.loading = false
                            }
                            if(response.data.value === true){
                                ref.message = response.data.msg;
                                ref.snackbar = true;
                                ref.color = "#1E7145";
                                store.dispatch("setUserToken", data);
                                localStorage.setItem("userToken", response.data.data.token);
                                this.$router.push({ path: "/library" });
                                ref.loading = false;
                            }

                        })
                        .catch(error => {
                            console.log(error)
                        });
                }
            },

            // login() {
            //     this.loading = true;
            //     let name = this.model.name;
            //     let password = this.model.password;
            //     this.$store
            //         .dispatch("login", this.model)
            //         .then((res) => {console.log(res); this.$router.push("/settings");})
            //         .catch(err => {
            //             this.loading = false;
            //             this.error = err;
            //             console.log('dfghj')
            //         });
            // },


        }

    };
</script>

<style scoped>

</style>
