<template>
    <div class="section login off-white">
        <v-container>
            <h2 class="main-title">  سجل معنا الآن في<span class="primary--text"> أخضر </span></h2>
            <ValidationObserver ref="register">
            <v-form class="custom-width" ref="registerForm" v-model="valid">
                <ValidationProvider name="name" rules="required|min:3">
                    <v-text-field
                            slot-scope="{errors,valid}"
                            v-model="model.name"
                            :error-messages="errors"
                            :success="valid"
                            required
                            label="إسم المستخدم"
                            outline class="input-round"
                    ></v-text-field>
                </ValidationProvider>
                <ValidationProvider name="email" rules="required|email">
                       <v-text-field
                               slot-scope="{errors,valid}"
                               v-model="model.email"
                               :error-messages="errors"
                               :success="valid"
                               label="البريد الإلكتروني"
                               outline class="input-round"
                               required
                       ></v-text-field>
                </ValidationProvider>

                <ValidationProvider name="password" rules="required|min:6">
                    <v-text-field
                            slot-scope="{errors,valid}"
                            v-model="model.password"
                            :error-messages="errors"
                            :success="valid"
                            label="كلمة المرور"
                            outline class="input-round"
                            required
                            type="password"
                    ></v-text-field>
                </ValidationProvider>
                <ValidationProvider name="duplicatePassword" rules="required">
                    <v-text-field
                            slot-scope="{errors,valid}"
                            v-model="model.confirmPassword"
                            label="تأكيد كلمة المرور"
                            outline class="input-round"
                            required
                            :success="valid"
                            :error-messages="errors"
                            type="password"
                            :class="{'error--text' : !checkPassword}"
                    ></v-text-field>
                </ValidationProvider>
                <v-alert v-if="model.confirmPassword && !checkPassword" value="true" type="error">
                    <p>الرقم السرى غير متطابق</p>
                </v-alert>


                <p class="grey--text">تسجيلك معنا يعني أنك موافق على <a href="/privacy-policy" target="_blank" class="primary--text">الشروط والأحكام</a></p>
                <ValidationProvider name="notification" rules="required">
                    <v-checkbox slot-scope="{errors,valid}"
                                :error-messages="errors"
                                :success="valid"
                                color="#1E7145"
                                v-model="model.notification"
                                label="الإشتراك في القائمة البريدية"
                    ></v-checkbox>
                </ValidationProvider>

                <v-btn color="#1E7145" large round class="white--text" block @click="register" :loading="loading">تسجيل </v-btn>
            </v-form>
            </ValidationObserver>
            <v-snackbar
                    v-model="snackbar"
                    :bottom="y === 'bottom'"
                    :left="x === 'left'"
                    :multi-line="mode === 'multi-line'"
                    :right="x === 'right'"
                    :timeout="timeout"
                    :top="y === 'top'"
                    :vertical="mode === 'vertical'"
                    :color="color"
            >
                {{ message }}
                <v-btn
                        color="white"
                        flat
                        @click="snackbar = false"
                >
                    <i class="fa fa-times"></i>
                </v-btn>
            </v-snackbar>
            <v-btn color="#1E7145" outline text round large class="btn-min-width border-bold mt-4" to="/login">أمتلك حساب بالفعل</v-btn>
        </v-container>
    </div>
</template>

<script>
    import {
        ValidationObserver,
        ValidationProvider,
        withValidation
    } from "vee-validate";
    export default {
        name: "register-component",
        data(){
            return{
                valid:false,
                checkbox:'',
                loading: false,
                error: "",
                model: {
                    name:'',
                    email: "",
                    password: "",
                    confirmPassword: "",
                    serial_number:"ZSsdsad",
                    device_token:"xcxzcxcz",
                    notification: "true"
                },
                emailRules: [
                    v => {
                        if (v) {
                            return /.+@.+/.test(v) || 'Email is not valid'
                        }
                    }
                ],
                snackbar: false,
                y: 'bottom',
                x: 'right',
                mode: '',
                timeout: 600000,
                message: '',
                color:'',
            }
        },
        components: {
            ValidationProvider,
            ValidationObserver
        },
        methods:{
            async register() {
                const result = await this.$refs.register.validate();
                if(result){
                    this.loading = true;
                    const store = this.$store;
                    this.$http
                        .post("/register", this.model)
                        .then(response => {
                            console.log(response);
                            let data = response.data.data;
                            let ref = this;
                            if(response.data.value === false){
                                ref.message = response.data.msg;
                                ref.snackbar = true;
                                ref.color = "red";
                                ref.loading = false;

                            }
                            if(response.data.value === true){
                                ref.message = response.data.msg;
                                ref.snackbar = true;
                                ref.color = "#1E7145";
                                store.dispatch("setUserInfo", data);
                                localStorage.setItem("userToken", response.data.data.token);
                                ref.$router.push({ path: "/" });
                                ref.loading = false;

                            }
                        })
                        .catch(error => {
                            console.log(error)
                        });
                }
            },
        },
        computed:{
            checkPassword(){
                if(this.model.password === this.model.confirmPassword){
                    return true
                }else {
                    return false
                }
            }
        },
        mounted(){
            localStorage.removeItem("userToken");

        }
    };
</script>

<style scoped>

</style>
