<template>
    <div class="section follow-us-youtube">
        <v-container grid-list-lg>
            <v-layout row wrap>
                <v-flex xs12 md6>
                    <div class="content">
                        <h2 class="main-title"> تابع قناتنا على يوتيوب..  <strong>أخضر</strong></h2>
                        <p class="grey--text">{{video.note}}</p>
                        <h3 class="subtitle"> {{video.title}}</h3>
                        <p class="grey--text" v-html="video.description"></p>
                    </div>
                </v-flex>
                <v-flex xs12 md6>
                    <iframe width="90% " height="450" :src="video.link" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </v-flex>
            </v-layout>
        </v-container>
    </div>
</template>

<script>
    export default {
        name: "follow-us-youtube",
        data(){
          return{
              video:{}
          }
        },
        methods:{
            getLatestVideos(){
                this.$http.get('/web/last_video').then((response)=>{
                    this.video = response.data.data;
                }).catch(()=>{

                });
            }
        },
        mounted(){
            this.getLatestVideos();
        }
    };
</script>

<style scoped>

</style>
