<template>
  <v-app :class="$i18n.locale">
    <nav-app v-if="$route.path !== '/coming-soon'"></nav-app>
    <transition name="slide">
      <v-content class="pt-5 wrapper">
        <router-view></router-view>
      </v-content>
    </transition>
    <footer-app v-if="$route.path !== '/coming-soon'"></footer-app>
  </v-app>
</template>

<script>
import mainNav from './components/nav/nav.vue'
import footer from './components/main-footer/main-footer.vue'
export default {
  name: 'App',
  components: {
      navApp : mainNav,
    footerApp : footer
  },
  data () {
    return {
    }
  },
    metaInfo() {
        return {
            title: "A5dr", // set a title
            titleTemplate: `%s |  ${this.titleTemplate}   ${this.routeInfo}`, // title is now "My Example App - Yay!"
            htmlAttrs: {
                lang: "en",
                amp: undefined // "amp" has no value
            },
            // meta: [
            //     { name: "description", content: this.description },
            //     { name: "author", content: this.author },
            //     { name: "keywords", content: this.keywords },
            //     { name: "og:image", content: this.image },
            // ]
        };
    },
    mounted() {
      const token =  localStorage.getItem("userToken");
      if(token){
          let data = {token : token};
          this.$store.dispatch("setUserToken", data);
      }
  },
    computed:{
        titleTemplate(){
            return this.$route.meta.title;
        },
        routeInfo(){
            return this.$route.query.name? ' | ' + this.$route.query.name : '';
        },
        auth(){
            if(this.$store.getters.isLoggedIn){
                return true;
            }
            else{
                return false;

            }
        }
    },
    watch:{
      'this.$route':{

      }
    }
}
</script>
<style lang="scss">
  @import '~vuetify/dist/vuetify.min.css';
  @import "styles/appStyles.scss";



  @font-face {
    font-family: 'Dubai-Regular';
    src: url("assets/fonts/Dubai-Regular.ttf");
  }
.wrapper{
  padding-top: 64px !important;
}
</style>
