<template>
    <section class="section features-tabs white">
        <v-container grid-list-md text-center>
            <div>
                <v-tabs
                        v-model="tab"
                        centered show-arrows>
                    <v-tab
                            v-for="item in items"
                            :key="item"
                    >
                        {{ item }}
                    </v-tab>
                </v-tabs>
                <v-tabs-items v-model="tab">

                    <loader-component v-if="loader"></loader-component>

                    <v-tab-item>
                        <v-layout row wrap>
                            <v-flex xs12 md3 v-for="(item ,  index) in books" v-if="index <= 3">
                                <featuredCardItem
                                        :id="item.id"
                                        :title="item.title"
                                        :image="item.image"
                                        :subtitle="item.write_name"
                                        :desc="item.note"
                                        :action="item.long_sound"
                                        :is-library="item.is_library"
                                        :data="item"
                                        @clicked="getNewBooks"
                                ></featuredCardItem>
                            </v-flex>
                        </v-layout>
                        <div class="text-xs-center">
                            <v-btn color="#C4C4C4" class="white--text btn-more btn-width" to="/books/new" depressed large>المزيد</v-btn>
                        </div>
                    </v-tab-item>

                    <v-tab-item>
                        <v-layout row wrap>
                            <v-flex xs12 md3 v-for="(item ,  index) in most_reads" v-if="most_reads.length> 0 && index <= 3">
                                <featuredCardItem
                                        :id="item.id"
                                        :title="item.title"
                                        :image="item.image"
                                        :subtitle="item.write_name"
                                        :desc="item.note"
                                        :action="item.long_sound"
                                        :is-library="item.is_library"
                                        :data="item"
                                        @clicked="getMostReads"
                                ></featuredCardItem>
                            </v-flex>
                        </v-layout>
                        <div class="text-xs-center">
                            <v-btn color="#C4C4C4" class="white--text btn-more btn-width" to="/books/most-reads" depressed large>المزيد</v-btn>
                        </div>
                    </v-tab-item>

                    <v-tab-item>
                        <v-layout row wrap>
                            <v-flex xs12 md3 v-for="(item ,  index) in dedicatedBooks" v-if="index <= 3">
                                <featuredCardItem
                                        :id="item.id"
                                        :title="item.title"
                                        :image="item.image"
                                        :subtitle="item.write_name"
                                        :desc="item.note"
                                        :action="item.long_sound"
                                        :is-library="item.is_library"
                                        :data="item"
                                        @clicked="getDedicatedBooks"
                                ></featuredCardItem>
                            </v-flex>
                        </v-layout>
                        <div class="text-xs-center">
                            <v-btn color="#C4C4C4" class="white--text btn-more btn-width" to="/books/dedicated" depressed large>المزيد</v-btn>
                        </div>
                    </v-tab-item>
                </v-tabs-items>
            </div>


        </v-container>
    </section>
</template>

<script>
    import featuredCardItem from "../lists/featured-card";
    import Loader from "../loader/loader";
    let token = localStorage.getItem('userToken');
    const headers = {
        "Content-Type": "application/json",
        'Authorization': "Bearer " + token
    };
    export default {
        name: "features-tabs",
        data() {
            return {
                loader:false,
                tab: null,
                items: [
                    "المضاف حديثاً", "الأكثر قراءة", "خصصنا لك",
                ],
                most_reads: [],
                books: [],
                dedicatedBooks: [],


            };
        },
        components: {
            Loader,
            featuredCardItem,
        },
        methods: {
            getMostReads() {
                this.loader = true;
                let baseUrl ;
                if (token){
                    baseUrl = this.$http.get("/web/most_reads" , {headers: headers})
                }else{
                    baseUrl = this.$http.get("/web/most_reads")
                };
                baseUrl.then((response) => {
                    this.loader = false;
                    this.most_reads = response.data.data;
                }).catch((error) => {

                });
            },
            getNewBooks() {
                this.loader = true;
                let baseUrl ;
                if (token){
                    baseUrl = this.$http.get("/web/books" , {headers: headers})
                }else{
                    baseUrl = this.$http.get("/web/books")
                };
                baseUrl.then((response) => {
                    this.loader = false;
                    this.books = response.data.data;
                }).catch((error) => {

                });
            },
            getDedicatedBooks() {
                this.loader = true;
                let baseUrl ;
                if (token){
                    baseUrl = this.$http.get("/web/dedicated" , {headers: headers})
                }else{
                    baseUrl = this.$http.get("/web/dedicated")
                };
                baseUrl.then((response) => {
                    this.loader = false;
                    this.dedicatedBooks = response.data.data;
                }).catch((error) => {

                });
            },
        },
        mounted() {
                this.getMostReads();
                this.getNewBooks();
                this.getDedicatedBooks();
        },
        watch:{

        }
    };
</script>

<style scoped>

</style>
