<template>
    <v-footer height="auto" class="main-footer">
        <v-container>
            <v-card class="flex" flat tile>
                <v-card-title class="secondary grey--text">
                    <v-btn   :to="social.facebook" icon><v-icon class="fa fa-facebook"></v-icon></v-btn>
                    <v-btn  :to="social.twitter"  icon><i class="fa fa-twitter"></i></v-btn>
                    <v-btn  :to="social.youtube"  icon><i class="fa fa-youtube"></i></v-btn>
                    <v-btn  :to="social.instagram"  icon><i class="fa fa-instagram"></i></v-btn>
                    <v-btn  :to="social.whatsapp"  icon><i class="fa fa-whatsapp"></i></v-btn>
                    <v-spacer></v-spacer>

                    <div class="store-app">
                        <a :href="social.android_link" target="_blank">
                            <img src="../../assets/images/appstore.png" alt="">
                        </a>
                        <a :href="social.ios_link" target="_blank">
                            <img src="../../assets/images/appstore01.png" alt="">
                        </a>
                    </div>

                    <v-spacer></v-spacer>

                    <strong class="subheading">جميع الحقوق محفوظة لــ <span class="primary--text">أخضر</span></strong>

                </v-card-title>


            </v-card>
        </v-container>
    </v-footer>
</template>

<script>
    export default {
        name: "main-footer",
        data: () => ({
            icons: [
                'fa fa-facebook',
                'fa fa-twitter',
                'fa fa-google-plus',
                'fa fa-linkedin',
                'fa fa-instagram'
            ],
            social:{}
        }),
        methods:{
            getSocial(){
                this.$http.get('/web/socials').then((response)=>{
                    this.social = response.data.data
                }).catch((error)=>{

                });
            }
        },
        mounted(){
            this.getSocial();
        }
    }
</script>

<style scoped>

</style>
