<template>
    <div class="main-nav" :class="{'theme--light': scrolled }">
        <v-navigation-drawer v-model="sidebar" app fixed>
            <v-list>
                <v-list-tile v-for="item in menuItems" :key="item.title" :to="item.path">
                    <v-list-tile-content>{{item.title}}</v-list-tile-content>
                </v-list-tile>

                <v-menu  transition="slide-y-transition"
                             bottom
                             right min-width="50%" offset-y v-model="value" fixed
                    >
                        <template v-slot:activator="{ on }">
                            <v-btn  v-on="on" flat @click="isActive" class="menu-btn" :class="{'isActive' : value}">الأقسام  <i class="fa fa-angle-down icon"></i></v-btn>
                        </template>

                    </v-menu>
                <br>



                <v-menu  transition="slide-y-transition"
                         bottom
                         right min-width="400px" max-width="400px" offset-y v-model="searchValue" absolute
                         :close-on-content-click="false"

                >
                    <template v-slot:activator="{ on }">
                        <v-btn flat class="nav-actions menu-btn" @click="searchIsActive" :class="{'isActive' : searchValue}"> <i class="fa fa-search icon"></i></v-btn>
                    </template>

                </v-menu>

                <v-btn flat class="menu-btn nav-actions" v-if="!auth" to="/login"> <i class="fa fa-user icon"></i></v-btn>

                <v-menu  transition="slide-y-transition"
                         bottom
                         right min-width="300px" offset-y v-model="user" absolute
                         v-if="auth"
                >
                    <template v-slot:activator="{ on }" >
                        <v-btn   v-on="on" flat @click="userIsActive" class="menu-btn nav-actions" :class="{'isActive' : user}" > <i class="fa fa-user icon" ></i></v-btn>

                    </template>

                </v-menu>
            </v-list>
        </v-navigation-drawer>
        <v-toolbar app fixed>
             <span class="hidden-md-and-up navMobile">
                 <v-btn to="/" flat text class="logo"><span>أخضر</span></v-btn>
                <v-toolbar-side-icon @click="sidebar = !sidebar"></v-toolbar-side-icon>
            </span>
        </v-toolbar>

        <v-toolbar app fixed flat class="hidden-sm-and-down">
            <v-toolbar-items >
                <v-btn link :ripple="false" color="#1E7145" flat class="logo" to="/">أخضر</v-btn>
            </v-toolbar-items>
            <v-spacer></v-spacer>
            <v-toolbar-title>
                <v-btn
                        flat
                        v-for="(item , index) in menuItems" v-if="index <= 0"
                        :key="item.title" :to="item.path">
                    {{ item.title }}
                </v-btn>
                <v-menu  transition="slide-y-transition"
                         bottom
                         right min-width="50%" offset-y v-model="value" fixed
                >
                    <template v-slot:activator="{ on }">
                        <v-btn  v-on="on" flat @click="isActive" class="menu-btn" :class="{'isActive' : value}">الأقسام  <i class="fa fa-angle-down icon"></i></v-btn>
                    </template>

                    <v-list>
                        <v-container>
                            <v-layout row wrap>
                                <v-flex sm3 v-for="(item, index) in items">
                                    <v-list-tile :key="index" @click="" :to="'/sections/'+item.id">
                                        <v-list-tile-avatar>
                                            <img :src="item.image">
                                        </v-list-tile-avatar>
                                        <v-list-tile-title>{{ item.name }}</v-list-tile-title>
                                    </v-list-tile>
                                </v-flex>
                            </v-layout>

                        </v-container>
                    </v-list>


                </v-menu>
                <v-btn
                        flat
                        v-for="(item , index) in menuItems" v-if="index > 0"
                        :key="item.title" :to="item.path">
                    {{ item.title }}
                </v-btn>
                <v-menu  transition="slide-y-transition"
                         bottom
                         right min-width="400px" max-width="400px" offset-y  absolute
                         :close-on-content-click="false"

                >
                    <template v-slot:activator="{ on }">
                        <v-btn flat class="nav-actions menu-btn" v-on="on" @click="searchIsActive" :class="{'isActive' : searchValue}"> <i class="fa fa-search icon"></i></v-btn>
                    </template>

                      <v-list>
                          <v-form class="search-modal" @submit.prevent="search">
                              <v-text-field
                                      label="إبحث بالعنوان أو إسم الكاتب"
                                      prepend-inner-icon="search"
                                      solo
                                      autofocus
                                      v-model="keyword"
                              ></v-text-field>
                              <v-btn @click="searchIsActive" icon class="close-search-modal"><i class="fa fa-times"></i></v-btn>
                          </v-form>
                      </v-list>
                </v-menu>
                <v-btn flat class="menu-btn nav-actions" v-if="!auth" to="/login"> <i class="fa fa-user icon"></i></v-btn>

                <v-menu  transition="slide-y-transition"
                         bottom
                         right min-width="300px" offset-y v-model="user" absolute
                         v-if="auth"
                         >
                    <template v-slot:activator="{ on }" >
                        <v-btn   v-on="on" flat @click="userIsActive" class="menu-btn nav-actions" :class="{'isActive' : user}" > <i class="fa fa-user icon" ></i></v-btn>

                    </template>

                    <v-list class="user-dropdown">
                        <v-list-tile @click="" v-for="item in userDropdown" :to="item.link" >
                            <v-list-tile-avatar>
                                <img :src="item.icon">
                            </v-list-tile-avatar>
                            <v-list-tile-title>{{item.title}}</v-list-tile-title>
                        </v-list-tile>
                        <v-list-tile @click="logout" >
                            <v-list-tile-avatar>
                                <img :src="logoutIcon">
                            </v-list-tile-avatar>
                            <v-list-tile-title>تسجيل خروج</v-list-tile-title>
                        </v-list-tile>
                    </v-list>


                </v-menu>

            </v-toolbar-title>
        </v-toolbar>

        <div  class="hidden-sm-and-up">
            <v-snackbar
                    v-model="snackbar"
                    :bottom="y === 'bottom'"
                    :left="x === 'left'"
                    :multi-line="mode === 'multi-line'"
                    :right="x === 'right'"
                    :timeout="timeout"
                    :top="y === 'top'"
                    :vertical="mode === 'vertical'"
                    color="primary"
            >
                حمل التطبيق الأن
                <v-btn color="white" flat :to="social.android_link">
                    تحميل
                </v-btn>
                <v-btn
                        color="white"
                        flat
                        @click="snackbar = false"
                >
                    <i class="fa fa-times"></i>
                </v-btn>

            </v-snackbar>
        </div>

    </div>
</template>

<script>
    import axios from 'axios'
    export default {
        name: "main-nav",
        data() {
            return {
                valid: false,
                searchModal: '',
                appTitle: "Awesome App",
                sidebar: false,
                limitPosition: 300,
                scrolled: false,
                value:'',
                searchValue:'',
                user:'',
                lastPosition: 0,
                active:false,
                menuItems: [
                    { title: "الرئيسية", path: "/" },
                    { title: "أهم الترشيحات", path: "/list" },
                    { title: "أفكار الكتب", path: "/book" },
                    { title: "تواصل معنا", path: "/contact-us" },
                ],
                items:[
                    {
                        icon: require('@/assets/images/computer.png'),
                        title:'الأسرة والطفل'
                    },
                    {
                        icon: require('@/assets/images/dna.png'),
                        title:'إدارة الأعمال'
                    }, {
                        icon: require('@/assets/images/manager.png'),
                        title:'التسويق'
                    }, {
                        icon: require('@/assets/images/dna.png'),
                        title:'موارد بشرية'
                    }, {
                        icon: require('@/assets/images/settings.png'),
                        title:'الأسرة والطفل'
                    },
                    {
                        icon: require('@/assets/images/computer.png'),
                        title:'علوم'
                    },
                    {
                        icon: require('@/assets/images/computer.png'),
                        title:'الأسرة والطفل'
                    },
                    {
                        icon: require('@/assets/images/dna.png'),
                        title:'إدارة الأعمال'
                    }, {
                        icon: require('@/assets/images/manager.png'),
                        title:'التسويق'
                    }, {
                        icon: require('@/assets/images/dna.png'),
                        title:'موارد بشرية'
                    }, {
                        icon: require('@/assets/images/settings.png'),
                        title:'الأسرة والطفل'
                    },
                    {
                        icon: require('@/assets/images/computer.png'),
                        title:'علوم'
                    },
                ],
                userDropdown:[
                    {
                        icon: require('@/assets/images/user-book.png'),
                        title:'مكتبتى',
                        link:'/library'
                    } ,
                    {
                        icon: require('@/assets/images/heart.png'),
                        title:'المفضلة',
                        link:'/favorites'
                    },
                    {
                        icon: require('@/assets/images/bookmark.png'),
                        title:'عناويني',
                        link:'/bookmarks'
                    },
                    {
                        icon: require('@/assets/images/user-settings.png'),
                        title:'الإعدادات',
                        link:'/settings'
                    },

                ],
                logoutIcon: require('@/assets/images/logout.png'),
                keyword:'',
                snackbar: true,
                y: 'top',
                x: 'right',
                mode: '',
                timeout: 600000,
                message: '',
                color:'',
                social:{}
            };
        },
        methods: {
            handleScroll() {
                if (this.lastPosition < window.scrollY) {
                    this.scrolled = true;
                    // move up!
                }

                if (this.lastPosition === 0) {
                    this.scrolled = false;
                    // move down
                }
                var bodyScrollTop =
                    document.documentElement.scrollTop || document.body.scrollTop;
                if (bodyScrollTop === 0) {
                    this.scrolled = false;
                }

                this.lastPosition = window.scrollY;
            },
            changeLang(lang, rtl) {
                localStorage.setItem("locale", lang);
                localStorage.setItem("rtl", rtl);
                window.location.reload();
            },
            isActive(){
                this.value = !this.value;
            },
            searchIsActive(){
                this.searchValue = !this.searchValue;
            },
            userIsActive(){
                this.user = !this.user;
            },
            getCategories(){
                this.$http.get('/web/categories').then((response)=>{
                    this.items = response.data.data
                }).catch(()=>{

                });
            },
            search(){
                let token = localStorage.getItem('userToken');
                const headers = {
                    "Content-Type": "application/json",
                    'Authorization': "Bearer " + token
                };
                let baseUrl ;
                if (token){
                    baseUrl = this.$http.post("/web/search" , {title:this.keyword} ,  {headers: headers})
                }else{
                    baseUrl = this.$http.post("/web/search" , {title:this.keyword})
                };
              baseUrl.then((resposne)=>{
                  console.log(resposne);
                  localStorage.setItem("results", ' ');
                  localStorage.setItem("results", JSON.stringify(resposne.data.data));
                  window.location.href = '/search';
                  // this.$router.push('/search')

              }).catch((error)=>{
                  console.log(error)
              })
            },
            logout(){

                this.$store.dispatch("logout");
            },
            getSocial(){
                this.$http.get('/web/socials').then((response)=>{
                    this.social = response.data.data
                }).catch((error)=>{

                });
            }
        },
        created() {
            window.addEventListener("scroll", this.handleScroll);
        },
        destroyed() {
            window.removeEventListener("scroll", this.handleScroll);
        },
        computed:{
          auth(){
              if(this.$store.getters.isLoggedIn){
                  return true;
              }
              else{
                  return false;

              }
          }
        },
        mounted(){
            this.getCategories();
            localStorage.setItem("results", ' ');
            this.getSocial();

        }
    };
</script>

<style scoped>
</style>

