<template>
    <div class="settings pt-3">
        <v-container>
            <h1>الإعدادات</h1>
            <div class="settings-box">
                <div>
                    <div class="settings-box-header">
                        <h3 class="settings-title">
                            بياناتي
                            <v-btn small class="primary--text" v-if="userInfo.vip === 'true'">عضوية مدفوعة</v-btn>
                            <v-btn small class="primary--text pr-0 pl-0" flat  v-if="userInfo.vip === 'false'">عضوية عادية</v-btn>
                        </h3>
                        <div>
                            <v-dialog v-model="dialog" width="530">
                                <template v-slot:activator="{ on }">
                                    <v-btn v-on="on" icon large><i class="fa fa-pencil fa-2x"></i></v-btn>
                                </template>

                                <v-card class="dialog-content">
                                    <v-card-title class="headline text-xs-center" primary-title>
                                        بياناتي
                                    </v-card-title>
                                    <v-card-text class="login">
                                        <ValidationObserver ref="profile">
                                            <v-form>
                                                <ValidationProvider name="name" rules="required|min:3">
                                                    <v-text-field
                                                            slot-scope="{errors,valid}"
                                                            v-model="model.name"
                                                            :error-messages="errors"
                                                            :success="valid"
                                                            required
                                                            label="إسم المستخدم"
                                                            outline class="input-round"
                                                    ></v-text-field>
                                                </ValidationProvider>
                                                <ValidationProvider name="password" rules="required">
                                                    <v-text-field
                                                            slot-scope="{errors,valid}"
                                                            v-model="model.email"
                                                            :error-messages="errors"
                                                            :success="valid"
                                                            label="البريد الالكترونى"
                                                            outline class="input-round"
                                                            required
                                                    ></v-text-field>
                                                </ValidationProvider>
                                                <v-btn color="#949494" flat  fab class="dialog-close" @click="dialog = false"><i class="fa fa-times"></i></v-btn>
                                                <v-btn color="primary"  @click="updateProfile" block round>تحديث</v-btn>
                                            </v-form>
                                        </ValidationObserver>
                                    </v-card-text>
                                </v-card>
                            </v-dialog>
                        </div>
                    </div>
                    <div class="content">
                        <p class="settings-info">{{userInfo.name}}</p>
                        <p class="settings-info">{{userInfo.email}}</p>
                    </div>
                </div>
                <div>
                    <div class="settings-box-header">
                        <h3 class="settings-title">كلمة المرور</h3>
                        <div>
                            <v-dialog v-model="passwordDialog" width="530">
                                <template v-slot:activator="{ on }">
                                    <v-btn v-on="on" icon large><i class="fa fa-pencil fa-2x"></i></v-btn>
                                </template>

                                <v-card class="dialog-content">
                                    <v-card-title class="headline text-xs-center" primary-title>
                                        كلمة المرور
                                    </v-card-title>
                                    <v-card-text class="login">
                                        <ValidationObserver ref="userPassword">
                                            <v-form class="">
                                                <ValidationProvider name="oldpassword" rules="required">
                                                    <v-text-field
                                                            slot-scope="{errors,valid}"
                                                            v-model="userPassword.old_password"
                                                            :error-messages="errors"
                                                            :success="valid"
                                                            label="كلمة المرور القديمة"
                                                            outline class="input-round"
                                                            color="success"
                                                            type="password"
                                                    ></v-text-field>
                                                </ValidationProvider>
                                                <ValidationProvider name="newpassword" rules="required">
                                                    <v-text-field
                                                            slot-scope="{errors,valid}"
                                                            v-model="userPassword.password"
                                                            :error-messages="errors"
                                                            :success="valid"
                                                            label="كلمة المرور الجديدة"
                                                            outline class="input-round"
                                                            color="success"
                                                            type="password"
                                                    ></v-text-field>
                                                </ValidationProvider>

                                                <!--<v-text-field-->
                                                        <!--label="تأكيد كلمة المرور الجديدة"-->
                                                        <!--outline class="input-round"-->
                                                        <!--color="success"-->
                                                        <!--v-model="model.confirmPass"-->
                                                <!--&gt;</v-text-field>-->
                                                <v-btn color="primary" large round block @click="updatePassword">حفظ</v-btn>
                                                <v-btn  color="#949494"
                                                        flat >هل نسيت كلمة المرور ؟</v-btn>
                                            </v-form>
                                        </ValidationObserver>
                                    </v-card-text>
                                    <v-btn color="#949494" flat @click="passwordDialog = false" fab class="dialog-close"><i class="fa fa-times"></i></v-btn>
                                </v-card>
                            </v-dialog>
                        </div>
                    </div>
                    <div class="content">
                        <p>**************</p>
                    </div>
                </div>
                <div class="settings-box-header">
                    <h3 class="settings-title">الإشتراك في القائمة البريدية</h3>
                    <div class="switch">
                        <v-switch  color="#1E7145" v-model="switch1"></v-switch>
                    </div>
                </div>
            </div>
            <hr>
            <div class="settings-box width-auto">
                <div>
                    <h3 class="settings-title">حذف الحساب</h3>
                    <div class="content">
                        <p>
                            حذف الحساب سيتسبب في حذف جميع بياناتك ومكتبتك , ولا يمكن رجوع الحساب مرة أخرى
                        </p>
                    </div>
                    <v-btn link color="#D11C1C" flat large @click="deleteUser">حذف الحساب الآن</v-btn>
                </div>
            </div>
            <v-snackbar
                    v-model="snackbar"
                    bottom
                    right
                    :color="color"
            >
                {{ message }}
                <v-btn
                        color="white"
                        flat
                        @click="snackbar = false"
                >
                    <i class="fa fa-times"></i>
                </v-btn>
            </v-snackbar>
        </v-container>
    </div>
</template>

<script>
    import {
        ValidationObserver,
        ValidationProvider,
        withValidation
    } from "vee-validate";

    export default {
        name: "settings-component",
        data(){
            return{
                switch1:'',
                dialog: false,
                passwordDialog: false,
                model:{
                    name: this.$store.state.user.name,
                    email: this.$store.state.user.email,
                    // notification:true,
                    // serial_num:'dfghj',
                    // device_token:'dfghjk',
                    // password: 'sdfgh'
                },
                userPassword:{
                    old_password:'',
                    password:''
                },
                message:'',
                snackbar:false,
                color:''
            }
        },
        components: {
            ValidationProvider,
            ValidationObserver
        },
        methods:{
            async updateProfile() {
                const result = await this.$refs.profile.validate();
                if(result){
                    const store = this.$store;
                    const headers = {
                        "Content-Type": "application/json",
                        'Authorization': "Bearer " + localStorage.getItem('userToken'),
                    };
                    this.$http
                        .post("/web/user/update",this.model , {headers:headers} )
                        .then(response => {
                            console.log(response);
                            let data = response.data.data;
                            let ref = this;
                            if(response.data.value === false){
                                ref.message = 'لقد حدث خطأ';
                                ref.snackbar = true;
                                ref.color = "red"
                            }
                            if(response.data.value === true) {
                                ref.message = 'لقد تم تحديث البروفايل';
                                ref.snackbar = true;
                                ref.color = "#1E7145";
                                store.dispatch(
                                    "updateUserInfo",
                                    data
                                );
                                console.log(data)
                                this.dialog = false;
                            }

                        })
                        .catch(error => {
                            console.log(error)
                        });
                }
            },
            deleteUser(){
                const headers = {
                    "Content-Type": "application/json",
                    'Authorization': "Bearer " + localStorage.getItem('userToken'),
                };
                this.$http
                    .post("/web/delete_user",{headers:headers})
                    .then(response => {
                        console.log(response);
                    })
                    .catch(error => {
                        console.log(error);
                    });
            },
            async updatePassword() {
                const result = await this.$refs.userPassword.validate();
                if(result){
                    const store = this.$store;
                    const headers = {
                        "Content-Type": "application/json",
                        'Authorization': "Bearer " + localStorage.getItem('userToken'),
                    };
                    this.$http
                        .post("/web/user/update/password",this.userPassword , {headers:headers} )
                        .then(response => {
                            console.log(response);
                            let data = response.data.data;
                            let ref = this;
                            if(response.data.value === false){
                                ref.message = response.data.msg;
                                ref.snackbar = true;
                                ref.color = "red"
                            }
                            if(response.data.value === true) {
                                ref.message = 'لقد تم تحديث البروفايل';
                                ref.snackbar = true;
                                ref.color = "#1E7145";
                                // store.dispatch(
                                //     "updateUserInfo",
                                //     data
                                // );
                                console.log(data)
                                this.dialog = false;
                            }

                        })
                        .catch(error => {
                            console.log(error)
                        });
                }
            },

        },
        computed: {
            userInfo() {
                return this.$store.state.user
            }
        }
    };
</script>

<style scoped>

</style>
