<template>
    <div class="section white benefits">
        <v-container grid-list-lg>
            <h1 class="main-title">هتتميز بايه لو اشتركت فى <span class="primary--text">أخضر</span></h1>
            <v-layout row wrap>
                <v-flex md3 v-for="item in items">
                    <benefit-card :benefit="item"></benefit-card>
                </v-flex>
            </v-layout>
        </v-container>
    </div>
</template>

<script>
    import benefitCard from '../lists/benefit-card.vue'
    export default {
        name: "benefits",
        data(){
          return{
              items:[
                  {
                      icon :  require('@/assets/images/book.png'),
                      text :  'هتقدر تكون مكتبتك وتضيف فيها\n' +
                          'كل الكتب إللي أنت إخترتها',
                  },
                  {
                      icon :  require('@/assets/images/headphones.png'),
                      text :  'هتقدر تسمع الكتب إللي أنت عايزها\n' +
                          'وتستكمل من وقت للتاني'
                  },
                  {
                      icon :  require('@/assets/images/highlighter.png'),
                      text :  'هتقدر تحدد بعض الفقرات وتحفظها\n' +
                          'من ضمن الأفكار في مكتبتك'
                  },
                  {
                      icon :  require('@/assets/images/cloud-computing.png'),
                      text :  'وكل ده هتقدر تضيفه في مكتبتك ويكون\n' +
                          'على جهازك بدون أنترنت'
                  }
              ]
          }
        },
        components:{
            benefitCard
        }
    };
</script>

<style scoped>

</style>
