<template>
    <div class="section recommendations white">
        <v-container>
            <h2 class="main-title">أهم الترشيحات</h2>
            <slick ref="slick" :options="slickOptions" class="slider" v-if="groups.length > 0">
                <recommendation-item v-for="item in groups"
                                     :id="item.id"
                                      :icon="item.image"
                                     :title="item.name"
                                     :desc="item.description"
                                     :number="item.book_count"
                ></recommendation-item>
            </slick>
            <v-btn flat to="/list" class="btn-all">عرض الكل </v-btn>
        </v-container>
    </div>
</template>

<script>
    import Slick from 'vue-slick';
    import recommendationItem from '../lists/recommendation-item'
    export default {
        name: "recommendations",
        components: {
            Slick,
            recommendationItem
        },
        data(){
            return{
                slickOptions: {
                    rtl: true,
                    slidesToScroll: 2,
                    slidesToShow: 2,
                    responsive: [
                        {
                            breakpoint: 1440 ,
                            settings: {
                                slidesToShow: 2,
                                centerPadding: '0',
                                centerMode: false,
                                arrows:true,
                            }
                        },
                        {
                            breakpoint: 992 ,
                            settings: {
                                slidesToShow: 2,
                                dots:true,
                                arrows:true,
                                centerPadding: '0',
                            }
                        },
                        {
                            breakpoint: 768 ,
                            settings: {
                                slidesToShow: 1,
                                centerMode: true,
                                dots:true,
                                arrows:false,
                                centerPadding: '0',
                            }
                        }]
                },
                groups:[]
            }
        },
        methods:{
            getGroups(){
                this.$http.get('/web/groups').then((response)=>{
                    this.groups = response.data.data
                }).catch(()=>{

                });
            }
        },
        mounted(){
            this.getGroups();
        }
    };
</script>

<style scoped>

</style>
