.v-breadcrumbs{
  &--large{
    li ,  li .v-icon{
      font-size: 21px;
    }
  }
  li:nth-child(2n) {
    padding: 0 6px;
  }
}
.theme--light.v-breadcrumbs .v-breadcrumbs__divider,
.theme--light.v-breadcrumbs .v-breadcrumbs__item--disabled{
  color: #9B9B9B;

}
