.btn-width{
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
}
.btn-min-width{
  min-width: 240px;
}
.v-btn--large {
  font-size: 19px;
}
.v-btn--round, .v-btn--round:after{
  border-radius: 34px;
}
.v-btn--active.v-btn--router {
  color: $main-color;
  font-weight: bold;
  background-color: #f9f9f9;
  &:before{
    background-color: #f9f9f9;
  }
}
