.v-dialog{
  border-radius: 52px;
  .dialog-content{
    padding: 2rem;
    position: relative;
    .headline{
      justify-content: center;
      font-weight: 500;
      font-size: 28px !important;
      margin-bottom: 1rem;
    }
  }
  .dialog-close{
    position: absolute;
    left: 0;
    top: 0;
    margin-left: 26px;

  }
}
