.theme--light.v-label{
  font-weight: 500;
    color: #616161;
}
.input-round.v-text-field>.v-input__control>.v-input__slot{
  border-radius: 30px;
}
.theme--light.v-text-field--outline{
  >.v-input__control>.v-input__slot{
    border: 1px solid rgba(#707070 , 0.3);
  }
  &:not(.v-input--is-focused):not(.v-input--has-state)>.v-input__control>.v-input__slot:hover{
    border: 1px solid rgba(#707070 , 0.5);
  }
}
.theme--light.v-text-field>.v-input__control>.v-input__slot{
  min-height: 48px;
  &:before{
    border-color: #2D2D2D;
    border-width: thin 1px 1px;

  }
}
