//@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700&display=swap');

@import url('https://fonts.googleapis.com/css?family=Tajawal:400,500,700,800&display=swap');
//$main-font: 'Bahij_TheSansArabic';
$main-font: 'Dubai-Regular';


body{
  background-color: #f8f8f8;
  background-position: center;
  background-size: contain;
  font-size: 17px;
}
* , body{
  font-family: $main-font;
}
.en{
  font-family: $main-font;
}

.ar {
  font-family: 'Bahij_TheSansArabic';
}

h1 , h2 ,h3 ,h4 , h5 ,h6 , .display-2, .display-3 , .display-1, .headline{
  font-family: $main-font !important;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba($main-color , 0.7);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba($main-color , 1);
}
