.main-title {
  font-size: 28px;
  color: $blackColor;
  padding-bottom: 3rem;
  text-transform: capitalize;
  text-align: center;
}
a {
  text-decoration: none
}
.section{
  padding: 4rem 0;
}
.grey--text{
   color: $grayColor !important;
}

.primary--text{
  color: $main-color !important;
}
.off-white{
  background-color: #F9F9F9;
}
.store-app{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  img{
    width: 160px;
    height: 80px;
    object-fit: contain;
    margin: 5px;
  }
}
.border-bold{
  border-width: 2px !important;
}
.box-container{
  background-color: #fff;
  padding: 2rem 2rem 5rem 2rem;
  border-radius: 30px;
  overflow: hidden;
}

.fa.fa-2x{
  font-size: 42px !important;
}

hr{
  margin: 2rem 0;
  border: none;
  border-bottom: 1px solid rgba(#707070 , 0.4);
  border-width: thin;
}
.v-rating{
  .v-icon{
    padding: 0;
  }
  &.disabled{
    .v-icon{
      pointer-events: none;
    }
  }
}
.template{
  .desc{
    line-height: 2;
    font-size: 18px;
    color: $grayColor;
    padding-left: 15px;
  }
}


@media (max-width: 767px) {
  .store-app{flex-direction: column; width: 100%}
}
